<div class="InsuranceMain">
  <div class="topBanner">
    <div class="container">
      <div class="topSub">
        <div class="topSub2">
          <div class="h1">
            {{ 'INSURANCE_SERVICES.BANNER.TITLE_LINE1' | translate }} <br />
            {{ 'INSURANCE_SERVICES.BANNER.TITLE_LINE2' | translate }}
          </div>

          <div class="selectable mt-5">
            @for (item of chips.slice(0, 3); track item.name) {
            <div class="chip">
              <i class="{{ item?.icon }}"></i>
              <span>{{ item?.name | translate }}</span>
            </div>
            }
          </div>
          <div class="selectable mt-2">
            @for (item of chips.slice(3, 6); track item.name) {
            <div class="chip">
              <i class="{{ item?.icon }}"></i>
              <span>{{ item?.name | translate }}</span>
            </div>
            }
          </div>

          <div class="inps">
            <input type="text" [placeholder]="'HOME.BANNER.FORM.FULL_NAME' | translate" class="form-control" />

            <input type="number" [placeholder]="'HOME.BANNER.FORM.PHONE' | translate" class="form-control" />
          </div>

          <button class="btn">
            {{ 'HOME.BANNER.FORM.BUTTON' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="texan-choose-image">
    <div class="container py-5 mt-5">
      <div class="row mb-5 text-center">
        <div class="col-12">
          <h2 class="insurance-heading">
            {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HEADING' | translate }}
          </h2>
        </div>
      </div>

      <div class="row mb-5 text-center">
        <!-- Changed col-12 to col-lg-8 to make the text area narrower and centered -->
        <div class="col-12 col-md-9 mt-3 mx-auto main-content">
          <h4 class="insurance-heading-2">
            {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HEADING_2' | translate }}
          </h4>
          <!-- Added a class to target specifically -->
          <p class="description-text">
            {{ 'INSURANCE_SERVICES.WHY_CHOOSE.DESCRIPTION' | translate }}
          </p>
        </div>
      </div>

      <div class="gap-m">
        <!-- card start -->
        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/iconoir_car.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.CARD1.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.CARD1.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/pepicons.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.CARD2.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.CARD2.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/hugeicons_boat.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.CARD3.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.CARD3.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/fluent.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.CARD4.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.CARD4.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/clarity_car.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.CARD5.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.CARD5.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/cil_truck.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.CARD6.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.CARD6.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/material.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.CARD7.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.CARD7.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/carbon_ibm.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.CARD8.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.CARD8.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/ph_truck.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.CARD9.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.CARD9.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/mingcute.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.CARD10.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.CARD10.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/hugeicons_uber.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.CARD11.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.CARD11.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
          <div class="col px-4"></div>
        </div>

        <!-- card end -->
      </div>
    </div>
  </div>

  <div class="homeowners-insurance">
    <div class="side-strip"></div>
    <div class="container">
      <div class="row mb-5 text-center">
        <!-- Changed col-12 to col-lg-8 to make the text area narrower and centered -->
        <div class="col-12 col-md-10 mt-3 mx-auto main-content">
          <h4 class="insurance-heading-2">
            {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HOMEOWNERS.HEADING' | translate }}
          </h4>
          <!-- Added a class to target specifically -->
          <p class="description-text">
            {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HOMEOWNERS.DESCRIPTION' | translate }}
          </p>
        </div>
      </div>

      <div class="gap-m">
        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/ri_parent-line.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HOMEOWNERS.CARD1.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HOMEOWNERS.CARD1.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/hugeicons_property-new.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HOMEOWNERS.CARD2.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HOMEOWNERS.CARD2.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/prime_building.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HOMEOWNERS.CARD3.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HOMEOWNERS.CARD3.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/fe_home.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HOMEOWNERS.CARD4.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HOMEOWNERS.CARD4.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/streamline-sharp_necktie.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HOMEOWNERS.CARD5.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HOMEOWNERS.CARD5.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/proicons_food.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HOMEOWNERS.CARD6.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HOMEOWNERS.CARD6.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/carbon_earthquake.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HOMEOWNERS.CARD5.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HOMEOWNERS.CARD5.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
          <div class="col px-4"></div>
        </div>

        <!-- card end -->
      </div>
    </div>
  </div>

  <div class="texan-choose-image">
    <div class="container py-5 mt-5">
      <div class="row mb-5 text-center">
        <!-- Changed col-12 to col-lg-8 to make the text area narrower and centered -->
        <div class="col-12 col-md-10 mt-3 mx-auto main-content">
          <h4 class="insurance-heading-2">
            {{ 'INSURANCE_SERVICES.WHY_CHOOSE.COMMERCIAL.HEADING' | translate }}
          </h4>
          <!-- Added a class to target specifically -->
          <p class="description-text">
            {{ 'INSURANCE_SERVICES.WHY_CHOOSE.COMMERCIAL.DESCRIPTION' | translate }}
          </p>
        </div>
      </div>

      <div class="gap-m">
        <!-- card start -->
        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/c_iconoir_car.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.COMMERCIAL.CARD1.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.COMMERCIAL.CARD1.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/c_pepicons-pencil_motorcycle.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.COMMERCIAL.CARD2.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.COMMERCIAL.CARD2.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/c_hugeicons_boat.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.COMMERCIAL.CARD3.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.COMMERCIAL.CARD3.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/c_ri_building-4-line.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.COMMERCIAL.CARD4.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.COMMERCIAL.CARD4.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/c_hugeicons_truck.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.COMMERCIAL.CARD5.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.COMMERCIAL.CARD5.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/c_streamline-ultimate_human-resources-businessman.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.COMMERCIAL.CARD6.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.COMMERCIAL.CARD6.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/c_clarity_employee-line.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.COMMERCIAL.CARD7.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.COMMERCIAL.CARD7.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/c_gala_secure.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.COMMERCIAL.CARD8.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.COMMERCIAL.CARD8.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/c_emojione-monotone_building-construction.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.COMMERCIAL.CARD9.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.COMMERCIAL.CARD9.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/c_pepicons-pencil_people.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.COMMERCIAL.CARD10.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.COMMERCIAL.CARD10.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- card end -->
      </div>
    </div>
  </div>

  <div class="homeowners-insurance">
    <div class="side-strip"></div>
    <div class="container">
      <div class="row mb-5 text-center">
        <!-- Changed col-12 to col-lg-8 to make the text area narrower and centered -->
        <div class="col-12 col-md-9 mt-3 mx-auto main-content">
          <h4 class="insurance-heading-2">
            {{ 'INSURANCE_SERVICES.WHY_CHOOSE.LIFE.HEADING' | translate }}
          </h4>
          <!-- Added a class to target specifically -->
          <p class="description-text">
            {{ 'INSURANCE_SERVICES.WHY_CHOOSE.LIFE.DESCRIPTION' | translate }}
          </p>
        </div>
      </div>

      <div class="gap-m">
        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/healthicons_life-science-outline.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.LIFE.CARD1.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.LIFE.CARD1.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/ri_heart-line.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.LIFE.CARD2.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.LIFE.CARD2.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/iconoir_lifebelt.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.LIFE.CARD3.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.LIFE.CARD3.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/solar_bill-linear.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.LIFE.CARD4.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.LIFE.CARD4.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/la_hands-helping.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.LIFE.CARD5.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.LIFE.CARD5.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/ri_group-line.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.LIFE.CARD6.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.LIFE.CARD6.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- card end -->
      </div>
    </div>
  </div>

  <div class="texan-choose-image">
    <div class="container py-5 mt-5">
      <div class="row mb-5 text-center">
        <!-- Changed col-12 to col-lg-8 to make the text area narrower and centered -->
        <div class="col-12 col-md-9 mt-3 mx-auto main-content">
          <h4 class="insurance-heading-2">
            {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HEALTH.HEADING' | translate }}
          </h4>
          <!-- Added a class to target specifically -->
          <p class="description-text">
            {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HEALTH.DESCRIPTION' | translate }}
          </p>
        </div>
      </div>

      <div class="gap-m">
        <!-- card start -->
        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/streamline-plump_insurance-hand.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HEALTH.CARD1.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HEALTH.CARD1.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/famicons_logo-family.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HEALTH.CARD2.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HEALTH.CARD2.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/streamline-cyber_business-laptop-1.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HEALTH.CARD3.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HEALTH.CARD3.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/fluent_group-20-regular.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HEALTH.CARD4.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HEALTH.CARD4.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/material-symbols-light_travel-explore-rounded.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HEALTH.CARD5.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HEALTH.CARD5.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/fluent-mdl2_medical.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HEALTH.CARD6.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HEALTH.CARD6.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/clarity_employee-line.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HEALTH.CARD7.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HEALTH.CARD7.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/hugeicons_dental-tooth.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HEALTH.CARD8.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HEALTH.CARD8.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/emojione-monotone_building-construction.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HEALTH.CARD9.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'INSURANCE_SERVICES.WHY_CHOOSE.HEALTH.CARD9.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4"></div>
        </div>

        <!-- card end -->
      </div>
    </div>
  </div>

  <!-- Surety Bonds -->
  <div class="surety-bonds">
    <div class="side-strip"></div>
    <div class="container">
      <div class="row mb-5 text-center">
        <div class="col-10  mt-5 mx-auto surety-content">
          <h4>
            {{ 'INSURANCE_SERVICES.SURETY.HEADING' | translate }}
          </h4>
          <!-- Added a class to target specifically -->
          <p class="description-text justify-content-center">
            {{ 'INSURANCE_SERVICES.SURETY.DESCRIPTION' | translate }}
          </p>
        </div>
      </div>

      <div class="gap-m">
        <div class="row">
          <div class="col-sm-3">
            <div class="card surtey-card">
              <div class="card-body">
                <h5 class="card-title"> {{ 'INSURANCE_SERVICES.SURETY.CARD1.TITLE' | translate }}</h5>
                <p class="card-text">{{ 'INSURANCE_SERVICES.SURETY.CARD1.DESC' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card surtey-card">
              <div class="card-body">
                <h5 class="card-title"> {{ 'INSURANCE_SERVICES.SURETY.CARD2.TITLE' | translate }}</h5>
                <p class="card-text">{{ 'INSURANCE_SERVICES.SURETY.CARD2.DESC' | translate }}</p>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="card surtey-card">
              <div class="card-body">
                <h5 class="card-title"> {{ 'INSURANCE_SERVICES.SURETY.CARD3.TITLE' | translate }}</h5>
                <p class="card-text">{{ 'INSURANCE_SERVICES.SURETY.CARD3.DESC' | translate }}</p>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="card surtey-card">
              <div class="card-body">
                <h5 class="card-title"> {{ 'INSURANCE_SERVICES.SURETY.CARD4.TITLE' | translate }}</h5>
                <p class="card-text">{{ 'INSURANCE_SERVICES.SURETY.CARD4.DESC' | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="additional-insurance py-5">
    <div class="container">
      <!-- Header Section -->
      <div class="row justify-content-center mb-5">
        <div class="col-lg-10 text-center additional-content">
          <h2 class="fw-bold mb-3">{{ 'INSURANCE_SERVICES.ADDITIONAL.HEADING' | translate }}</h2>
          <p class="text-dark small" style="line-height: 1.6;">
            {{ 'INSURANCE_SERVICES.ADDITIONAL.DESCRIPTION' | translate }}
          </p>
        </div>
      </div>

      <!-- Cards Section -->
      <div class="row justify-content-center g-4">
        <div class="col-lg-8">

          <!-- Pet Insurance -->
          <div class="custom-card card-yellow d-flex align-items-center mb-4">
            <div class="card-icon me-4 card-image">
              <img src="assets/images/streamline-plump_pet-paw.png" alt="Pet Insurance">
            </div>
            <div class="card-body p-0 inner-content-custom">
              <h3 class="mb-1">{{ 'INSURANCE_SERVICES.ADDITIONAL.CARD1.TITLE' | translate }}</h3>
              <div class="title-line bg-yellow mb-2"></div>
              <p class=" mb-0">{{ 'INSURANCE_SERVICES.ADDITIONAL.CARD1.DESC' | translate }}</p>
            </div>
          </div>

          <div class="custom-card card-red d-flex align-items-center mb-4">
            <div class="card-icon me-4 card-image">
              <img src="assets/images/pajamas_title.png" alt="Pet Insurance">
            </div>
            <div class="card-body p-0 inner-content-custom">
              <h3 class="mb-1">{{ 'INSURANCE_SERVICES.ADDITIONAL.CARD2.TITLE' | translate }}</h3>
              <div class="title-line bg-red mb-2"></div>
              <p class=" mb-0">{{ 'INSURANCE_SERVICES.ADDITIONAL.CARD2.DESC' | translate }}</p>
            </div>
          </div>


          <div class="custom-card card-red d-flex align-items-center mb-4">
            <div class="card-icon me-4 card-image">
              <img src="assets/images/tabler_transfer.png" alt="Pet Insurance">
            </div>
            <div class="card-body p-0 inner-content-custom">
              <h3 class="mb-1">{{ 'INSURANCE_SERVICES.ADDITIONAL.CARD3.TITLE' | translate }}</h3>
              <div class="title-line bg-red mb-2"></div>
              <p class=" mb-0">{{ 'INSURANCE_SERVICES.ADDITIONAL.CARD3.DESC' | translate }}</p>
            </div>
          </div>



        </div>
      </div>
    </div>
  </section>

  <section class="why-choose-us">
    <div class="container-fluid p-0 overflow-hidden">
      <div class="row g-0">
        <div class="col-md-6  d-none d-md-block">
          <div class="image-wrapper">
            <img src="assets/images/texasBg.jpeg" alt="Texas Flags" class=" object-fit-cover">
          </div>
        </div>

        <div class="col-lg-6 mt-5">
          <div class="content-inner ">
            <h4 class="section-title mb-5">{{ 'INSURANCE_SERVICES.WHY_TEXANS_CHOOSE.HEADING' | translate }}<br> <strong>{{ 'INSURANCE_SERVICES.WHY_TEXANS_CHOOSE.HEADING2' | translate }}</strong></h4>

            <div class="features-list">
              <div class="feature-item d-flex mb-3">
                <div class="icon-dot me-3 mt-2"></div>
                <div>
                  <h5 class="fw-bold mb-1">{{ 'INSURANCE_SERVICES.WHY_TEXANS_CHOOSE.CARD1.TITLE' | translate }}</h5>
                  <p>{{ 'INSURANCE_SERVICES.WHY_TEXANS_CHOOSE.CARD1.DESC' | translate }}</p>
                </div>
              </div>

              <div class="feature-item d-flex mb-3">
                <div class="icon-dot me-3 mt-2"></div>
                <div>
                  <h5 class="fw-bold mb-1">{{ 'INSURANCE_SERVICES.WHY_TEXANS_CHOOSE.CARD2.TITLE' | translate }}</h5>
                  <p>{{ 'INSURANCE_SERVICES.WHY_TEXANS_CHOOSE.CARD2.DESC' | translate }}</p>
                </div>
              </div>

              <div class="feature-item d-flex mb-3">
                <div class="icon-dot me-3 mt-2"></div>
                <div>
                  <h5 class="fw-bold mb-1">{{ 'INSURANCE_SERVICES.WHY_TEXANS_CHOOSE.CARD3.TITLE' | translate }}</h5>
                  <p>{{ 'INSURANCE_SERVICES.WHY_TEXANS_CHOOSE.CARD3.DESC' | translate }}</p>
                </div>
              </div>

              <div class="feature-item d-flex mb-3">
                <div class="icon-dot me-3 mt-2"></div>
                <div>
                  <h5 class="fw-bold mb-1">{{ 'INSURANCE_SERVICES.WHY_TEXANS_CHOOSE.CARD4.TITLE' | translate }}</h5>
                  <p>{{ 'INSURANCE_SERVICES.WHY_TEXANS_CHOOSE.CARD4.DESC' | translate }}</p>
                </div>
              </div>

              <div class="feature-item d-flex mb-3">
                <div class="icon-dot me-3 mt-2"></div>
                <div>
                  <h5 class="fw-bold mb-1">{{ 'INSURANCE_SERVICES.WHY_TEXANS_CHOOSE.CARD5.TITLE' | translate }}</h5>
                  <p>{{ 'INSURANCE_SERVICES.WHY_TEXANS_CHOOSE.CARD5.DESC' | translate }}</p>
                </div>
              </div>

              <div class="feature-item d-flex mb-3">
                <div class="icon-dot me-3 mt-2"></div>
                <div>
                  <h5 class="fw-bold mb-1">{{ 'INSURANCE_SERVICES.WHY_TEXANS_CHOOSE.CARD6.TITLE' | translate }}</h5>
                  <p>{{ 'INSURANCE_SERVICES.WHY_TEXANS_CHOOSE.CARD6.DESC' | translate }}</p>
                </div>
              </div>

              <!-- ... Repeat for other items ... -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>






  <div class="container-fluid py-5 working-section position-relative mt-5 overflow-hidden">
    <img src="../assets/images/insurance-left.png" class="bg-shape shape-left" alt="decoration" />
    <img src="../assets/images/insurance-right.png" class="bg-shape shape-right " alt="decoration" />

    <div class="container">
      <h5 class="text-center mb-5 heading">
        {{ 'HOME.WORKING_PROCESS.TITLE_LINE1' | translate }}
        <strong>{{ 'HOME.WORKING_PROCESS.TITLE_STRONG' | translate }}</strong>
        {{ 'HOME.WORKING_PROCESS.TITLE_LINE2' | translate }}
      </h5>

      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 position-relative">
          <div class="vertical-line"></div>

          <div class="d-flex align-items-center mb-4 insurance-card p-3">
            <div class="step-number">01</div>
            <div class="ms-4 working-heading">
              <h5 class="fw-bold mb-1">
                {{ 'HOME.WORKING_PROCESS.STEP1.TITLE' | translate }}
              </h5>
              <p class="text-muted mb-0 small">
                {{ 'HOME.WORKING_PROCESS.STEP1.DESC' | translate }}
              </p>
            </div>
          </div>

          <div class="d-flex align-items-center mb-4 insurance-card p-3">
            <div class="step-number">02</div>
            <div class="ms-4 working-heading">
              <h5 class="fw-bold mb-1">
                {{ 'HOME.WORKING_PROCESS.STEP2.TITLE' | translate }}
              </h5>
              <p class="text-muted mb-0 small">
                {{ 'HOME.WORKING_PROCESS.STEP2.DESC' | translate }}
              </p>
            </div>
          </div>

          <div class="d-flex align-items-center mb-4 insurance-card p-3">
            <div class="step-number">03</div>
            <div class="ms-4 working-heading">
              <h5 class="fw-bold mb-1">
                {{ 'HOME.WORKING_PROCESS.STEP3.TITLE' | translate }}
              </h5>
              <p class="text-muted mb-0 small">
                {{ 'HOME.WORKING_PROCESS.STEP3.DESC' | translate }}
              </p>
            </div>
          </div>

          <div class="d-flex align-items-center insurance-card p-3">
            <div class="step-number">04</div>
            <div class="ms-4 working-heading">
              <h5 class="fw-bold mb-1">
                {{ 'HOME.WORKING_PROCESS.STEP4.TITLE' | translate }}
              </h5>
              <p class="text-muted mb-0 small">
                {{ 'HOME.WORKING_PROCESS.STEP4.DESC' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- get covered -->
  <div class="topBanner getCovver">
    <div class="container">
      <div class="topSub">
        <div class="topSub2">
          <div class="h1">{{ 'HOME.COVERDBANNER.TITLE' | translate }}</div>
          <div class="selectable mt-5">
            @for (item of chips.slice(0, 3); track item.name) {
            <div class="chip">
              <i class="{{ item?.icon }}"></i>
              <span>{{ item?.name | translate }}</span>
            </div>
            }
          </div>
          <div class="selectable mt-2">
            @for (item of chips.slice(3, 6); track item.name) {
            <div class="chip">
              <i class="{{ item?.icon }}"></i>
              <span>{{ item?.name | translate }}</span>
            </div>
            }
          </div>
          <div class="inps">
            <input type="text" [placeholder]="'HOME.BANNER.FORM.FULL_NAME' | translate" class="form-control" />
            <input type="number" [placeholder]="'HOME.BANNER.FORM.PHONE' | translate" class="form-control" />
          </div>
          <button class="btn">{{ 'HOME.COVERDBANNER.FORM.BUTTON' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- footuper -->
  <div class="footUpper">
    <div class="left"></div>
    <div class="right"></div>
    <div class="clipp"></div>
    <div class="contain">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="icon">
              <img src="/assets/images/logo.png" alt="User menu" />
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="h4">{{ 'FOOTER.SLOGAN' | translate }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
</div>