.termsMain {
  .topBanner {
    height: 13rem;
    background-color: #ca2b28;

    .container {
      display: flex;
      align-items: end;
      height: 100%;

      .h1 {
        color: #fff22f;
        font-weight: 600;
        font-size: 3rem;
        padding-right: 35rem;
        margin-bottom: 5rem;
      }
    }
  }
}

.terms-section {
  padding: 100px 0;
  position: relative;

  .container {
    max-width: 900px;
  }

  .terms-block {
    margin-bottom: 70px;
  }

  .terms-heading {
    font-size: 38px;
    font-weight: 700;
    color: #c62828;
    margin-bottom: 25px;
  }

  p {
    font-size: 17px;
    line-height: 1.9;
    color: #444;
    margin-bottom: 20px;
  }
}

.contact-title {
  color: #c62828;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 40px;
}

.contact-content {
  h3 {
    font-size: 32px;
    color: #c62828;
    margin-bottom: 20px;
  }

  p {
    font-size: 22px;
    margin-bottom: 18px;
    color: #c62828;

    a {
      color: #c62828;
      text-decoration: underline;
      font-weight: 500;
    }
  }
}

.footUpper {
  height: 130px;
  width: 100%;
  background-color: #ca2b28;
  display: flex;
  flex-direction: row;
  position: relative;

  .left {
    width: 55%;
    height: 100%;
  }

  .right {
    height: 100%;
    background-color: #e62e2a;
    width: 50%;
  }

  .clipp {
    position: absolute;
    clip-path: polygon(67% 0, 100% 0, 100% 99%, 20% 100%);
    height: 130px;
    width: 130px;
    background-color: #e62e2a;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .contain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    .col-lg-6 {
      display: flex;
      align-items: center;

      .icon {
        height: 80%;
        width: fit-content;
      }

      .h4 {
        font-weight: 700;
        color: #fff;
        font-size: 42px;
        margin: 0;
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .termsMain {
    .topBanner {
      min-height: 6rem;

      .container {
        justify-content: center;

        .h1 {
          font-size: 1.6rem;
          margin-bottom: 2.8rem;
          text-align: center;
          padding: 0 1rem;
        }
      }
    }
  }

  .footUpper {
    height: 270px;
    flex-direction: column;

    .left {
      width: 100%;
    }

    .right {
      width: 100%;
    }

    .clipp {
      display: none;
    }

    .contain {
      .col-lg-6 {
        text-align: center;
        align-items: center;
        justify-content: center;

        .icon {
          transform: translateY(-15px);
        }

        .h4 {
          font-size: 40px;
          margin: 0;
          transform: translateY(10px);
        }
      }
    }
  }
}
