<div class="footerMain">
  <div class="container">
    <div class="fupper row">
      <div class="col" *ngFor="let section of 'FOOTER.INSURANCE_MENU' | translate | keyvalue">
        <div class="head1">{{ section.value.TITLE }}</div>
        <div class="subH" *ngFor="let item of section.value.ITEMS">
          <a href="#">{{ item }}</a>
        </div>
      </div>
    </div>

    <div class="fupper2">
      <div class="accordion" id="accordionExample">
        <div
          class="accordion-item"
          *ngFor="let section of 'FOOTER.INSURANCE_MENU' | translate | keyvalue; index as i"
        >
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              [class.collapsed]="i !== 0"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapseOne-' + i"
              [attr.aria-expanded]="i === 0"
              [attr.aria-controls]="'collapseOne-' + i"
            >
              {{ section.value.TITLE }}
            </button>
          </h2>
          <div
            [attr.id]="'collapseOne-' + i"
            class="accordion-collapse collapse"
            [class.show]="i === 0"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div class="subH" *ngFor="let item of section.value.ITEMS">
                <a href="#">{{ item }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="upperLink">
      <div class="uph">{{ 'FOOTER.QUICK_LINKS.TITLE' | translate }}</div>
    </div>

    <div class="subUppers">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="homeNav">
            <div class="subupH" *ngFor="let link of 'FOOTER.QUICK_LINKS.LINKS' | translate">
              <a href="#">{{ link }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="otherLinks">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="uuper">
                <div class="icon">
                  <img src="/assets/images/location.png" alt="" />
                </div>
                <div class="uph red">Main office location</div>
              </div>
              <div class="lower">
                <div class="icon"></div>
                <a href="#" class="uph">707 Shotwell St Houston Tx 77020</a>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6">
              <div class="uuper">
                <div class="icon">
                  <img src="/assets/images/location.png" alt="" />
                </div>
                <div class="uph">Southwest</div>
              </div>
              <div class="lower">
                <div class="icon"></div>
                <a href="#" class="uph">11503 Southwest Fwy Ste B Houston Tx 77031</a>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6">
              <div class="uuper">
                <div class="icon">
                  <img src="/assets/images/location.png" alt="" />
                </div>
                <div class="uph">Antoine</div>
              </div>
              <div class="lower">
                <div class="icon"></div>
                <a href="#" class="uph">5712 Antoine Dr Houston Tx 77091</a>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6">
              <div class="uuper">
                <div class="icon">
                  <img src="/assets/images/location.png" alt="" />
                </div>
                <div class="uph">Houston</div>
              </div>
              <div class="lower">
                <div class="icon"></div>
                <a href="#" class="uph">5206 Airline Dr, Ste G Houston, TX 77022</a>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-lg-3 col-sm-6">
              <div class="uuper">
                <div class="icon">
                  <img src="/assets/images/location.png" alt="" />
                </div>
                <div class="uph">Shotwell</div>
              </div>
              <div class="lower">
                <div class="icon"></div>
                <a href="#" class="uph">707 Shotwell St Houston Tx 77020</a>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6">
              <div class="uuper">
                <div class="icon">
                  <img src="/assets/images/location.png" alt="" />
                </div>
                <div class="uph">S Post Oak</div>
              </div>
              <div class="lower">
                <div class="icon"></div>
                <a href="#" class="uph">10547 S Post Oak Rd Houston Tx 77035</a>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6">
              <div class="uuper">
                <div class="icon">
                  <img src="/assets/images/location.png" alt="" />
                </div>
                <div class="uph">Cullen</div>
              </div>
              <div class="lower">
                <div class="icon"></div>
                <a href="#" class="uph">9421 Cullen Blvd ste B Houston TX 77051</a>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6">
              <div class="uuper">
                <div class="icon">
                  <i class="far fa-clock"></i>
                </div>
                <div class="uph red">Office business hours</div>
              </div>
              <div class="lower">
                <div class="icon"></div>
                <div href="#" class="timee">Mon – Sat: 9AM – 7PM Sunday: Closed</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="lastRite">
      <div class="block1">
        <div class="b1">
          <div class="icn">
            <img src="/assets/images/policy.png" alt="" />
          </div>
          <div class="he">
            <a [routerLink]="getRoute('privacyPolicy')">{{
              'FOOTER.POLICIES.PRIVACY' | translate
            }}</a>
          </div>
        </div>
        <div class="b1">
          <div class="icn">
            <img src="/assets/images/terms.png" alt="" />
          </div>
          <div class="he">
            <a [routerLink]="getRoute('termsAndConditions')">
              {{ 'FOOTER.POLICIES.TERMS' | translate }}</a
            >
          </div>
        </div>

        <div class="b1">
          <div class="icn">
            <img src="/assets/images/terms.png" alt="" />
          </div>
          <div class="he">
            <a [routerLink]="getRoute('careers')"> {{ 'FOOTER.POLICIES.CAREERS' | translate }}</a>
          </div>
        </div>
      </div>
      <div class="block1">
        <div class="left">24/7 Customer support</div>
        <div class="right">
          <div class="opp" *ngFor="let phone of 'FOOTER.CONTACT.PHONE' | translate">
            {{ phone }}
          </div>
        </div>
      </div>
      <div class="block1">
        <div class="imagess">
          <img src="/assets/images/insta.png" alt="Instagram" />
          <img src="/assets/images/fb.png" alt="Facebook" />
        </div>
        <div class="b1">
          <div class="icn">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="he">{{ 'FOOTER.CONTACT.EMAIL' | translate }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="laster">{{ 'FOOTER.COPYRIGHT' | translate }}</div>
