.homeMain {
  background-color: #ca2b28;
  min-height: 50px;
  display: flex;
  align-items: center;
  .lefter {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    .icon {
      height: 30px;
      width: 30px;
      margin-top: -2px;
    }
    .text {
      font-family: 'Afacad', sans-serif;
      font-size: 22px;
      font-weight: 600;
      color: #fff;
    }
  }
  .mailerMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    .mailBoxer {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      .box {
        height: 50px;
        width: 50px;
        background-color: #fff22e;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      a {
        font-family: 'Afacad', sans-serif;
        font-size: 22px;
        font-weight: 600;
        color: #000;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
        span {
          color: #fff;
        }
      }
    }
  }
}

.headerMain {
  .navbar-brand {
    height: 90px;
  }
  #mainNavbar {
    .rounded-pill {
      font-family: 'Afacad', sans-serif;
      font-size: 18px;
      font-weight: 300 !important;
      padding: 10px;
      border-radius: 8px !important;
      transition: 0.5s all ease-in-out;
      box-shadow:
        rgba(0, 0, 0, 0.07) 0px 1px 2px,
        rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px,
        rgba(0, 0, 0, 0.07) 0px 32px 64px;
      border: 0;
      &:hover {
        background-color: #fff22e;
        color: #000;
      }
    }
  }
  .navbar-nav {
    margin-right: 40px !important;
  }
  .navbar-nav .nav-link {
    padding: 0.75rem 1rem;
    color: #111;
    font-family: 'Afacad', sans-serif;
    font-size: 18px;
    font-weight: 500;
  }

  .navbar-nav .nav-link:hover {
    color: #c00;
  }

  .btn-danger {
    background-color: #c00;
    border-color: #c00;
  }

  .dropdown-menu {
    border-radius: 0.5rem;
  }
  .leftie {
    gap: 2rem;
  }
}

@media only screen and (max-width: 820px) {
  .homeMain {
    .lefter {
      width: 100%;
      justify-content: center;
      margin: 1rem 0;
    }
    .mailerMain {
      justify-content: center !important;
    }
  }
}

@media only screen and (max-width: 560px) {
  .homeMain {
    .mailerMain {
      .mailBoxer {
        .box {
          height: 40px;
          width: 40px;
        }
        a {
          font-size: 16px;
        }
      }
    }
  }
}
