<div class="homeMain">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center">
        <div class="lefter">
          <div class="icon">
            <img src="/assets/images/usermenu.png" alt="User menu" />
          </div>
          <div class="text">INSURANCE | ASEGURANZA</div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mailerMain">
          <div class="mailBoxer">
            <a href="mailto:info@astateins.com">
              <div class="box">
                <i class="fas fa-envelope"></i>
              </div>
              <span>info@astateins.com</span>
            </a>
          </div>
          <div class="mailBoxer">
            <a href="tel:7133577771">
              <div class="box">
                <i class="fas fa-phone"></i>
              </div>
              <span>713-357-7771</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="headerMain">
  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand d-flex align-items-center" href="#">
        <!-- <img src="/assets/images/logo.png" alt="State Logo" height="50" /> -->
      </a>

      <!-- Mobile toggle -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar content -->
      <div class="collapse navbar-collapse" id="mainNavbar">
        <!-- Center menu -->
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 fw-semibold">
          <!-- Insurance Services dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/insurance-services">
              {{ 'HEADER.INSURANCE_SERVICES' | translate }}
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">{{ 'HEADER.AUTO_INSURANCE' | translate }}</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">{{ 'HEADER.HOME_INSURANCE' | translate }}</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">{{ 'HEADER.LIFE_INSURANCE' | translate }}</a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="getRoute('about')">{{
              'HEADER.ABOUT' | translate
            }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="getRoute('contact')">{{
              'HEADER.CONTACT' | translate
            }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">{{ 'HEADER.OFFICE_LOCATOR' | translate }}</a>
          </li>
        </ul>

        <!-- Right side -->
        <div class="d-flex align-items-center leftie">
          <!-- Get a Quote -->
          <a href="#" class="btn btn-danger px-4 rounded-pill fw-semibold">
            {{ 'HEADER.GET_A_QUOTE' | translate }}
          </a>

          <!-- Language dropdown -->
          <div class="dropdown">
            <a
              class="nav-link dropdown-toggle d-flex align-items-center"
              href="#"
              data-bs-toggle="dropdown"
            >
              <i class="fa-solid fa-globe me-1"></i> {{ currentLang.toUpperCase() }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a
                  class="dropdown-item"
                  href="javascript:void(0)"
                  (click)="changeLang('en'); $event.preventDefault()"
                  >EN</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="javascript:void(0)"
                  (click)="changeLang('es'); $event.preventDefault()"
                  >ES</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
