<div class="homeMain">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center">
        <div class="lefter">
          <div class="icon">
            <img src="/assets/images/usermenu.png" alt="User menu" />
          </div>
          <div class="text">INSURANCE | ASEGURANZA</div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mailerMain">
          <div class="mailBoxer">
            <a href="mailto:info@astateins.com">
              <div class="box">
                <i class="fas fa-envelope"></i>
              </div>
              <span>info@astateins.com</span>
            </a>
          </div>
          <div class="mailBoxer">
            <a href="tel:7133577771">
              <div class="box">
                <i class="fas fa-phone"></i>
              </div>
              <span>713-357-7771</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="headerMain">
  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="/assets/images/logo.png" alt="State Logo" height="50" />
      </a>

      <!-- Mobile toggle -->
      <!-- <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <!-- Navbar content -->
      <div class="collapse navbar-collapse" id="mainNavbar">
        <!-- Center menu -->
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 fw-semibold">
          <!-- Insurance Services dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" [routerLink]="getRoute('insuranceServices')">
              {{ 'HEADER.INSURANCE_SERVICES' | translate }}
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a class="dropdown-item submenu-toggle" [routerLink]="getRoute('autoInsurance')">
                  {{ 'HEADER.AUTO_INSURANCE' | translate }}
                </a>

                <ul class="dropdown-menu submenu">
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('carInsurance')">
                      {{ 'HEADER.CAR_INSURANCE' | translate }}
                    </a>
                  </li>

                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('motorcycleInsurance')">
                      {{ 'HEADER.MOTORCYCLE_INSURANCE' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('boatInsurance')">
                      {{ 'HEADER.BOAT_INSURANCE' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('rvInsurance')">
                      {{ 'HEADER.RV_MOTORHOME_INSURANCE' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('classicCarInsurance')">
                      {{ 'HEADER.CLASSIC_CAR_INSURANCE' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('sr22Insurance')">
                      {{ 'HEADER.SR22_INSURANCE' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('atvAndUtvInsurance')">
                      {{ 'HEADER.ATV_UTV_INSURANCE' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('trailerInsurance')">
                      {{ 'HEADER.TRAILER_INSURANCE' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('mexicanCarInsurance')">
                      {{ 'HEADER.MEXICAN_CAR_INSURANCE' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('rideshareInsurance')">
                      {{ 'HEADER.RIDESHARE_INSURANCE' | translate }}
                    </a>
                  </li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a class="dropdown-item submenu-toggle" [routerLink]="getRoute('homeInsurance')">
                  {{ 'HEADER.HOME_INSURANCE' | translate }}
                </a>

                <ul class="dropdown-menu submenu">
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('rentersInsurance')">
                      {{ 'HEADER.RENTERS_INSURANCE' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('condoInsurance')">
                      {{ 'HEADER.CONDO_INSURANCE' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('manufacturedMobileHomeInsurance')">
                      {{ 'HEADER.MANUFACTURED_MOBILE_HOME_INSURANCE' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('landlordInsurance')">
                      {{ 'HEADER.LANDLORD_INSURANCE' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('earthquakeInsurance')">
                      {{ 'HEADER.EARTHQUAKE_INSURANCE' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('floodInsurance')">
                      {{ 'HEADER.FLOOD_INSURANCE' | translate }}
                    </a>
                  </li>
                </ul>
              </li>

              <li>
                <a class="dropdown-item" [routerLink]="getRoute('lifeInsurance')">{{ 'HEADER.LIFE_INSURANCE' | translate
                  }}</a>
              </li>

              <li class="dropdown-submenu">
                <a class="dropdown-item submenu-toggle" [routerLink]="getRoute('commercialInsurance')">
                  {{ 'HEADER.COMMERCIAL_INSURANCE' | translate }}
                </a>

                <ul class="dropdown-menu submenu">
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('professionalLiabilityInsurance')">
                      {{ 'HEADER.PROFESSIONAL_LIABILITY_INSURANCE' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('generalLiabilityInsurance')">
                      {{ 'HEADER.GENERAL_LIABILITY_INSURANCE' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('workersCompensationInsurance')">
                      {{ 'HEADER.WORKERS_COMPENSATION_INSURANCE' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('commercialPropertyInsurance')">
                      {{ 'HEADER.COMMERCIAL_PROPERTY_INSURANCE' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('commercialAutoInsurance')">
                      {{ 'HEADER.COMMERCIAL_AUTO_INSURANCE' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('businessOwnerInsurance')">
                      {{ 'HEADER.BUSINESS_OWNER_INSURANCE' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('employmentPracticesLiabilityInsurance')">
                      {{ 'HEADER.EMPLOYMENT_PRACTICES_LIABILITY_INSURANCE' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('cyberLiabilityInsurance')">
                      {{ 'HEADER.CYBER_LIABILITY_INSURANCE' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('buildersRiskInsurance')">
                      {{ 'HEADER.BUILDERS_RISK_INSURANCE' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="getRoute('directorsOfficersLiabilityInsurance')">
                      {{ 'HEADER.DIRECTORS_OFFICERS_LIABILITY_INSURANCE' | translate }}
                    </a>
                  </li>
                </ul>
              </li>

              <li>
                <a class="dropdown-item" [routerLink]="getRoute('healthInsurance')">{{ 'HEADER.HEALTH_INSURANCE'
                  |
                  translate
                  }}</a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="getRoute('suretyBondInsurance')">{{
                  'HEADER.SURETY_BOND_INSURANCE'
                  |
                  translate
                  }}</a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="getRoute('about')">{{
              'HEADER.ABOUT' | translate
              }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="getRoute('contact')">{{
              'HEADER.CONTACT' | translate
              }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="getRoute('ourLocations')">{{ 'HEADER.OFFICE_LOCATOR' | translate }}</a>
          </li>
        </ul>

        <!-- Right side -->
        <div class="d-flex align-items-center leftie">
          <!-- Get a Quote -->
          <a href="#" class="btn btn-danger px-4 rounded-pill fw-semibold">
            {{ 'HEADER.GET_A_QUOTE' | translate }}
          </a>

          <!-- Language dropdown -->
          <div class="dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" data-bs-toggle="dropdown">
              <i class="fa-solid fa-globe me-1"></i> {{ currentLang.toUpperCase() }}
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="javascript:void(0)"
                  (click)="changeLang('en'); $event.preventDefault()">EN</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)"
                  (click)="changeLang('es'); $event.preventDefault()">ES</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="sidebarMain">
    <section class="banner">
      <label for="menu-control" class="hamburger">
        <i class="hamburger__icon"></i>
        <i class="hamburger__icon"></i>
        <i class="hamburger__icon"></i>
      </label>

      <input type="checkbox" id="menu-control" class="menu-control" />

      <aside class="sidebar">
        <nav class="sidebar__menu">
          <a routerLink="/">Home</a>
          <a routerLink="/how-it-work">How it Works</a>
          <a routerLink="/explore-stores">Explore Stores</a>
        </nav>

        <label for="menu-control" class="sidebar__close"></label>
      </aside>
      <div class="overlay"></div>
    </section>
  </div>
</div>