<div class="appHeader">
  <div class="homeMain">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center"></div>
        <div class="col-lg-6">
          <div class="mailerMain">
            <div class="angled-box"></div>
            <div class="mailBoxer">
              <a href="mailto:save@astateinsurance.com">
                <div class="box">
                  <i class="fas fa-envelope"></i>
                </div>
                <span>save@astateinsurance.com</span>
              </a>
            </div>
            <div class="mailBoxer">
              <a href="tel:7133577771">
                <div class="box">
                  <i class="fas fa-phone"></i>
                </div>
                <span>713-357-7771</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="headerMain"
    [class.headerMain--es]="currentLang === 'es'"
    [class.headerMain--scrolled]="isScrolled"
  >
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
      <div class="container">
        <!-- Logo -->
        <a class="navbar-brand d-flex align-items-center" href="/">
          <img src="/assets/images/logo.png" alt="State Logo" height="50" />
        </a>

        <!-- Mobile toggle -->
        <!-- <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button> -->

        <!-- Navbar content -->
        <div class="collapse navbar-collapse" id="mainNavbar">
          <div class="angled-box"></div>
          <!-- Center menu -->
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0 fw-semibold">
            <!-- Insurance Services dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" [routerLink]="getRoute('insuranceServices')"
                [innerHTML]="'HEADER.INSURANCE_SERVICES' | translateHtml | async">
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a class="dropdown-item submenu-toggle" [routerLink]="getRoute('autoInsurance')"
                    [innerHTML]="'HEADER.VEHICLE_INSURANCE' | translateHtml | async">
                  </a>

                  <ul class="dropdown-menu submenu">
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('carInsurance')"
                        [innerHTML]="'HEADER.CAR_INSURANCE' | translateHtml | async">
                      </a>
                    </li>

                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('motorcycleInsurance')"
                        [innerHTML]="'HEADER.MOTORCYCLE_INSURANCE' | translateHtml | async">
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('boatInsurance')"
                        [innerHTML]="'HEADER.BOAT_INSURANCE' | translateHtml | async">
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('commercialAutoInsurance')">
                        {{ 'HEADER.COMMERCIAL_AUTO_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('rvInsurance')"
                        [innerHTML]="'HEADER.RV_MOTORHOME_INSURANCE' | translateHtml | async">
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('classicCarInsurance')"
                        [innerHTML]="'HEADER.CLASSIC_CAR_INSURANCE' | translateHtml | async">
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('sr22Insurance')">
                        {{ 'HEADER.SR22_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('atvAndUtvInsurance')">
                        {{ 'HEADER.ATV_UTV_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('trailerInsurance')">
                        {{ 'HEADER.TRAILER_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('mexicanCarInsurance')"
                        [innerHTML]="'HEADER.MEXICAN_CAR_INSURANCE' | translateHtml | async">
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('rideshareInsurance')"
                        [innerHTML]="'HEADER.RIDESHARE_INSURANCE' | translateHtml | async">
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a class="dropdown-item submenu-toggle" [routerLink]="getRoute('homeInsurance')">
                    {{ 'HEADER.HOME_INSURANCE' | translate }}
                  </a>

                  <ul class="dropdown-menu submenu">
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('rentersInsurance')">
                        {{ 'HEADER.RENTERS_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('condoInsurance')">
                        {{ 'HEADER.CONDO_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('manufacturedMobileHomeInsurance')">
                        {{ 'HEADER.MANUFACTURED_MOBILE_HOME_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('landlordInsurance')">
                        {{ 'HEADER.LANDLORD_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('earthquakeInsurance')">
                        {{ 'HEADER.EARTHQUAKE_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('floodInsurance')">
                        {{ 'HEADER.FLOOD_INSURANCE' | translate }}
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a class="dropdown-item submenu-toggle" [routerLink]="getRoute('commercialInsurance')">
                    {{ 'HEADER.COMMERCIAL_INSURANCE' | translate }}
                  </a>

                  <ul class="dropdown-menu submenu">
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('professionalLiabilityInsurance')">
                        {{ 'HEADER.PROFESSIONAL_LIABILITY_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('generalLiabilityInsurance')">
                        {{ 'HEADER.GENERAL_LIABILITY_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('workersCompensationInsurance')">
                        {{ 'HEADER.WORKERS_COMPENSATION_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('commercialPropertyInsurance')">
                        {{ 'HEADER.COMMERCIAL_PROPERTY_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('commercialAutoInsurance')">
                        {{ 'HEADER.COMMERCIAL_AUTO_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('businessOwnerInsurance')">
                        {{ 'HEADER.BUSINESS_OWNER_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('employmentPracticesLiabilityInsurance')">
                        {{ 'HEADER.EMPLOYMENT_PRACTICES_LIABILITY_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('cyberLiabilityInsurance')">
                        {{ 'HEADER.CYBER_LIABILITY_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('buildersRiskInsurance')">
                        {{ 'HEADER.BUILDERS_RISK_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('directorsOfficersLiabilityInsurance')">
                        {{ 'HEADER.DIRECTORS_OFFICERS_LIABILITY_INSURANCE' | translate }}
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a class="dropdown-item submenu-toggle" [routerLink]="getRoute('lifeInsurance')">
                    {{ 'HEADER.LIFE_INSURANCE' | translate }}
                  </a>

                  <ul class="dropdown-menu submenu">
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('wholeLifeInsurance')">
                        {{ 'HEADER.WHOLE_LIFE_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('universalLifeInsurance')">
                        {{ 'HEADER.UNIVERSAL_LIFE_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('finalExpenseInsurance')">
                        {{ 'HEADER.FINAL_EXPENSE_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('termLifeInsurance')">
                        {{ 'HEADER.TERM_LIFE_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('groupLifeInsurance')">
                        {{ 'HEADER.GROUP_LIFE_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('variableLifeInsurance')">
                        {{ 'HEADER.VARIABLE_LIFE_INSURANCE' | translate }}
                      </a>
                    </li>
                  </ul>
                </li>



                <li class="dropdown-submenu">
                  <a class="dropdown-item submenu-toggle" [routerLink]="getRoute('healthInsurance')">
                    {{ 'HEADER.HEALTH_INSURANCE' | translate }}
                  </a>

                  <ul class="dropdown-menu submenu">
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('familyHealthInsurance')">
                        {{ 'HEADER.FAMILY_HEALTH_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('smallBusinessHealthInsurance')">
                        {{ 'HEADER.SMALL_BUSINESS_HEALTH_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('medicareSupplementInsurance')">
                        {{ 'HEADER.MEDICARE_SUPPLEMENT_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('dentalVisionInsurance')">
                        {{ 'HEADER.DENTAL_VISION_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('shortTermHealthInsurance')">
                        {{ 'HEADER.SHORT_TERM_HEALTH_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('individualHealthInsurance')">
                        {{ 'HEADER.INDIVIDUAL_HEALTH_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('employerGroupHealthInsurance')">
                        {{ 'HEADER.EMPLOYER_GROUP_HEALTH_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('travelHealthInsurance')">
                        {{ 'HEADER.TRAVEL_HEALTH_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('acaMarketplacePlansInsurance')">
                        {{ 'HEADER.ACA_MARKETPLACE_PLANS_INSURANCE' | translate }}
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a class="dropdown-item submenu-toggle" [routerLink]="getRoute('suretyBondInsurance')">
                    {{ 'HEADER.SURETY_BOND_INSURANCE' | translate }}
                  </a>

                  <ul class="dropdown-menu submenu">
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('performanceBondsPaymentBonds')">
                        {{ 'HEADER.PERFORMANCE_PAYMENT_BONDS' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('commercialSuretyBonds')">
                        {{ 'HEADER.COMMERCIAL_SURETY_BONDS' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('bidBonds')">
                        {{ 'HEADER.BID_BONDS' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('notaryBonds')">
                        {{ 'HEADER.NOTARY_BONDS' | translate }}
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a class="dropdown-item submenu-toggle">
                    {{ 'HEADER.ADDITIONAL_INSURANCE' | translate }}
                  </a>

                  <ul class="dropdown-menu submenu">
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('petInsurance')">
                        {{ 'HEADER.PET_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('titleInsurance')">
                        {{ 'HEADER.TITLE_INSURANCE' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="getRoute('titleTransfer')">
                        {{ 'HEADER.TITLE_TRANSFER' | translate }}
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLink]="getRoute('about')">{{
                'HEADER.ABOUT' | translate
                }}</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLink]="getRoute('contact')">{{
                'HEADER.CONTACT' | translate
                }}</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLink]="getRoute('ourLocations')">{{
                'HEADER.OFFICE_LOCATOR' | translate
                }}</a>
            </li>
          </ul>

          <!-- Right side -->
          <div class="d-flex align-items-center leftie">
            <button class="language-switcher" type="button" (click)="toggleLanguage()">
              <span class="language-switcher__flag-wrap">
                <img [src]="targetLanguageFlag" [alt]="targetLang === 'en' ? 'English' : 'Spanish'"
                  class="language-switcher__flag" />
              </span>
              <span class="language-switcher__label">{{ targetLanguageLabel }}</span>
            </button>
            <!-- Get a Quote -->
            <a [routerLink]="getRoute('getAQuote')" class="btn btn-danger px-4 rounded-pill fw-semibold">
              {{ 'HEADER.GET_A_QUOTE' | translate }}
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div class="sidebarMain">
      <section class="banner">
        <label for="menu-control" class="hamburger">
          <i class="hamburger__icon"></i>
          <i class="hamburger__icon"></i>
          <i class="hamburger__icon"></i>
        </label>

        <input type="checkbox" id="menu-control" class="menu-control" />

        <aside class="sidebar">
          <nav class="sidebar__menu">
            <div class="sm-section-label">{{ 'HEADER.INSURANCE_SERVICES' | translate }}</div>

            <!-- Auto Insurance -->
            <div class="sm-item" (click)="toggleMenu('auto')">
              <i class="fas fa-car sm-icon"></i>
              <a class="sm-label" [routerLink]="getRoute('autoInsurance')">{{
                'HEADER.AUTO_INSURANCE' | translate
                }}</a>
              <i class="fas fa-chevron-right sm-chevron" [class.open]="openMenu === 'auto'"></i>
            </div>
            <div class="sm-sub" [class.open]="openMenu === 'auto'">
              <a class="sm-sub-item" [routerLink]="getRoute('carInsurance')">{{
                'HEADER.CAR_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('motorcycleInsurance')">{{
                'HEADER.MOTORCYCLE_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('boatInsurance')">{{
                'HEADER.BOAT_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('rvInsurance')">{{
                'HEADER.RV_MOTORHOME_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('classicCarInsurance')">{{
                'HEADER.CLASSIC_CAR_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('commercialAutoInsurance')">
                {{ 'HEADER.COMMERCIAL_AUTO_INSURANCE' | translate }}
              </a>
              <a class="sm-sub-item" [routerLink]="getRoute('sr22Insurance')">{{
                'HEADER.SR22_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('atvAndUtvInsurance')">{{
                'HEADER.ATV_UTV_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('trailerInsurance')">{{
                'HEADER.TRAILER_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('mexicanCarInsurance')">{{
                'HEADER.MEXICAN_CAR_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('rideshareInsurance')">{{
                'HEADER.RIDESHARE_INSURANCE' | translate
                }}</a>
            </div>

            <!-- Home Insurance -->
            <div class="sm-item" (click)="toggleMenu('home')">
              <i class="fas fa-home sm-icon"></i>
              <a [routerLink]="getRoute('homeInsurance')" class="sm-label">{{
                'HEADER.HOME_INSURANCE' | translate
                }}</a>
              <i class="fas fa-chevron-right sm-chevron" [class.open]="openMenu === 'home'"></i>
            </div>
            <div class="sm-sub" [class.open]="openMenu === 'home'">
              <a class="sm-sub-item" [routerLink]="getRoute('rentersInsurance')">{{
                'HEADER.RENTERS_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('condoInsurance')">{{
                'HEADER.CONDO_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('manufacturedMobileHomeInsurance')">{{
                'HEADER.MANUFACTURED_MOBILE_HOME_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('landlordInsurance')">{{
                'HEADER.LANDLORD_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('earthquakeInsurance')">{{
                'HEADER.EARTHQUAKE_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('floodInsurance')">{{
                'HEADER.FLOOD_INSURANCE' | translate
                }}</a>
            </div>

                     <!-- Commercial Insurance -->
            <div class="sm-item" (click)="toggleMenu('commercial')">
              <i class="fas fa-building sm-icon"></i>
              <a [routerLink]="getRoute('commercialInsurance')" class="sm-label">{{
                'HEADER.COMMERCIAL_INSURANCE' | translate
                }}</a>
              <i class="fas fa-chevron-right sm-chevron" [class.open]="openMenu === 'commercial'"></i>
            </div>
            <div class="sm-sub" [class.open]="openMenu === 'commercial'">
              <a class="sm-sub-item" [routerLink]="getRoute('professionalLiabilityInsurance')">{{
                'HEADER.PROFESSIONAL_LIABILITY_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('generalLiabilityInsurance')">{{
                'HEADER.GENERAL_LIABILITY_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('workersCompensationInsurance')">{{
                'HEADER.WORKERS_COMPENSATION_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('commercialPropertyInsurance')">{{
                'HEADER.COMMERCIAL_PROPERTY_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('commercialAutoInsurance')">{{
                'HEADER.COMMERCIAL_AUTO_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('businessOwnerInsurance')">{{
                'HEADER.BUSINESS_OWNER_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('employmentPracticesLiabilityInsurance')">{{
                'HEADER.EMPLOYMENT_PRACTICES_LIABILITY_INSURANCE' | translate }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('cyberLiabilityInsurance')">{{
                'HEADER.CYBER_LIABILITY_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('buildersRiskInsurance')">{{
                'HEADER.BUILDERS_RISK_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('directorsOfficersLiabilityInsurance')">{{
                'HEADER.DIRECTORS_OFFICERS_LIABILITY_INSURANCE' | translate }}</a>
            </div>
            <!-- Life Insurance -->
            <div class="sm-item" (click)="toggleMenu('life')">
              <i class="fas fa-heartbeat sm-icon"></i>
              <a [routerLink]="getRoute('lifeInsurance')" class="sm-label">{{
                'HEADER.LIFE_INSURANCE' | translate
                }}</a>
              <i class="fas fa-chevron-right sm-chevron" [class.open]="openMenu === 'life'"></i>
            </div>
            <div class="sm-sub" [class.open]="openMenu === 'life'">
              <a class="sm-sub-item" [routerLink]="getRoute('wholeLifeInsurance')">{{
                'HEADER.WHOLE_LIFE_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('universalLifeInsurance')">{{
                'HEADER.UNIVERSAL_LIFE_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('finalExpenseInsurance')">{{
                'HEADER.FINAL_EXPENSE_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('termLifeInsurance')">{{
                'HEADER.TERM_LIFE_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('groupLifeInsurance')">{{
                'HEADER.GROUP_LIFE_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('variableLifeInsurance')">{{
                'HEADER.VARIABLE_LIFE_INSURANCE' | translate
                }}</a>
            </div>

   

            <!-- Health Insurance -->
            <div class="sm-item" (click)="toggleMenu('health')">
              <i class="fas fa-stethoscope sm-icon"></i>
              <a [routerLink]="getRoute('healthInsurance')" class="sm-label">{{
                'HEADER.HEALTH_INSURANCE' | translate
                }}</a>
              <i class="fas fa-chevron-right sm-chevron" [class.open]="openMenu === 'health'"></i>
            </div>
            <div class="sm-sub" [class.open]="openMenu === 'health'">
              <a class="sm-sub-item" [routerLink]="getRoute('familyHealthInsurance')">{{
                'HEADER.FAMILY_HEALTH_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('smallBusinessHealthInsurance')">{{
                'HEADER.SMALL_BUSINESS_HEALTH_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('medicareSupplementInsurance')">{{
                'HEADER.MEDICARE_SUPPLEMENT_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('dentalVisionInsurance')">{{
                'HEADER.DENTAL_VISION_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('shortTermHealthInsurance')">{{
                'HEADER.SHORT_TERM_HEALTH_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('individualHealthInsurance')">{{
                'HEADER.INDIVIDUAL_HEALTH_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('employerGroupHealthInsurance')">{{
                'HEADER.EMPLOYER_GROUP_HEALTH_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('travelHealthInsurance')">{{
                'HEADER.TRAVEL_HEALTH_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('acaMarketplacePlansInsurance')">{{
                'HEADER.ACA_MARKETPLACE_PLANS_INSURANCE' | translate
                }}</a>
            </div>

            <!-- Surety Bond -->
            <div class="sm-item" (click)="toggleMenu('surety')">
              <i class="fas fa-file-contract sm-icon"></i>
              <a [routerLink]="getRoute('suretyBondInsurance')" class="sm-label">{{
                'HEADER.SURETY_BOND_INSURANCE' | translate
                }}</a>
              <i class="fas fa-chevron-right sm-chevron" [class.open]="openMenu === 'surety'"></i>
            </div>
            <div class="sm-sub" [class.open]="openMenu === 'surety'">
              <a class="sm-sub-item" [routerLink]="getRoute('performanceBondsPaymentBonds')">{{
                'HEADER.PERFORMANCE_PAYMENT_BONDS' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('commercialSuretyBonds')">{{
                'HEADER.COMMERCIAL_SURETY_BONDS' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('bidBonds')">{{
                'HEADER.BID_BONDS' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('notaryBonds')">{{
                'HEADER.NOTARY_BONDS' | translate
                }}</a>
            </div>

            <!-- Additional Insurance -->
            <div class="sm-item" (click)="toggleMenu('additional')">
              <i class="fas fa-ellipsis-h sm-icon"></i>
              <a href="javascript:void(0)" class="sm-label">{{
                'HEADER.ADDITIONAL_INSURANCE' | translate
                }}</a>
              <i class="fas fa-chevron-right sm-chevron" [class.open]="openMenu === 'additional'"></i>
            </div>
            <div class="sm-sub" [class.open]="openMenu === 'additional'">
              <a class="sm-sub-item" [routerLink]="getRoute('petInsurance')">{{
                'HEADER.PET_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('titleInsurance')">{{
                'HEADER.TITLE_INSURANCE' | translate
                }}</a>
              <a class="sm-sub-item" [routerLink]="getRoute('titleTransfer')">{{
                'HEADER.TITLE_TRANSFER' | translate
                }}</a>
            </div>

            <div class="sm-divider"></div>

            <a class="sm-plain-link" [routerLink]="getRoute('about')">{{
              'HEADER.ABOUT' | translate
              }}</a>
            <a class="sm-plain-link" [routerLink]="getRoute('contact')">{{
              'HEADER.CONTACT' | translate
              }}</a>
            <a class="sm-plain-link" [routerLink]="getRoute('ourLocations')">{{
              'HEADER.OFFICE_LOCATOR' | translate
              }}</a>

            <div class="sm-divider"></div>

            <!-- Language -->
            <div class="sm-item" (click)="toggleMenu('language')">
              <i class="fas fa-language sm-icon"></i>
              <span class="sm-label">{{ currentLang.toUpperCase() }}</span>
              <i class="fas fa-chevron-right sm-chevron" [class.open]="openMenu === 'language'"></i>
            </div>
            <div class="sm-sub" [class.open]="openMenu === 'language'">
              <a class="sm-sub-item" (click)="changeLang('en'); $event.preventDefault()">English</a>
              <a class="sm-sub-item" (click)="changeLang('es'); $event.preventDefault()">Español</a>
            </div>

            <!-- Contact details now live in the top strip, as on desktop -->

            <div class="sm-cta-wrap">
              <a [routerLink]="getRoute('getAQuote')" class="sm-cta">{{
                'HEADER.GET_A_QUOTE' | translate
                }}</a>
            </div>
          </nav>

          <label for="menu-control" class="sidebar__close"></label>
        </aside>
        <div class="overlay"></div>
      </section>
    </div>
  </div>
</div>
