<div class="aboutMain">
  <div class="topBanner">
    <div class="container">
      <div class="h1">{{ 'ABOUT.HERO.HEADING' | translate }}</div>
    </div>
  </div>

  <section class="trusted-insurance py-5">
    <div class="container">
      <h2 class="text-center mb-5">
        {{ 'ABOUT.TRUSTED_PARTNER.TEXT1' | translate }}
        <strong class="text-danger">
          {{ 'ABOUT.TRUSTED_PARTNER.HIGHLIGHT' | translate }}
        </strong>
        {{ 'ABOUT.TRUSTED_PARTNER.TEXT2' | translate }}
      </h2>

      <div class="row g-4 justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="card h-100 shadow-sm border-0 rounded-3">
            <img src="assets/images/trusted1.png" class="card-img-top" alt="Company History" />
            <div class="card-body">
              <h5 class="card-title">{{ 'ABOUT.TRUSTED_INSURANCE.CARD1.TITLE' | translate }}</h5>
              <div class="divider"></div>
              <p class="card-text">
                {{ 'ABOUT.TRUSTED_INSURANCE.CARD1.DESC' | translate }}
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card h-100 shadow-sm border-0 rounded-3">
            <img src="assets/images/trusted3.png" class="card-img-top" alt="Company History" />
            <div class="card-body">
              <h5 class="card-title">{{ 'ABOUT.TRUSTED_INSURANCE.CARD1.TITLE' | translate }}</h5>
              <div class="divider"></div>
              <p class="card-text">
                {{ 'ABOUT.TRUSTED_INSURANCE.CARD1.DESC' | translate }}
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card h-100 shadow-sm border-0 rounded-3">
            <img src="assets/images/trusted2.png" class="card-img-top" alt="Company History" />
            <div class="card-body">
              <h5 class="card-title">{{ 'ABOUT.TRUSTED_INSURANCE.CARD1.TITLE' | translate }}</h5>
              <div class="divider"></div>
              <p class="card-text">
                {{ 'ABOUT.TRUSTED_INSURANCE.CARD1.DESC' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Insurance Solutions -->
  <div class="solutions-section">
    <div class="side-strip"></div>
    <div class="container position-relative">
      <div class="row mb-5 text-center">
        <div class="col-12">
          <h2 class="section-title">{{ 'HOME.INSURANCE_SOLUTIONS.TITLE' | translate }}</h2>

          <div class="ptag text-light">
            A-State Insurance offers customized insurance coverage for homes, vehicles, health,
            life, businesses, and bonds. With multilingual support, multiple carrier options, and
            personalized guidance, we make choosing the right plan simple, reliable, and stress-free
            for everyone. Trust us to protect what matters most to you and your family.
          </div>
        </div>
      </div>
      <div class="row g-4">
        <div class="col-md-6">
          <div class="solution-card">
            <div class="d-flex align-items-start">
              <div class="icon-box">
                <img src="../assets/images/car.png" alt="Car Icon" />
                <!-- <i class="fas fa-car"></i> -->
              </div>
              <div class="card-content">
                <h5 class="solution-title">
                  {{ 'HOME.INSURANCE_SOLUTIONS.AUTO.TITLE' | translate }}
                </h5>

                <p class="solution-text">
                  {{ 'HOME.INSURANCE_SOLUTIONS.AUTO.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="solution-card seprator">
            <div class="d-flex align-items-start">
              <div class="icon-box">
                <img src="../assets/images/house.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="solution-title">
                  {{ 'HOME.INSURANCE_SOLUTIONS.HOME.TITLE' | translate }}
                </h5>

                <p class="solution-text">
                  {{ 'HOME.INSURANCE_SOLUTIONS.HOME.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="solution-card seprator">
            <div class="d-flex align-items-start">
              <div class="icon-box">
                <img src="../assets/images/commercial.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="solution-title">
                  {{ 'HOME.INSURANCE_SOLUTIONS.COMMERCIAL.TITLE' | translate }}
                </h5>

                <p class="solution-text">
                  {{ 'HOME.INSURANCE_SOLUTIONS.COMMERCIAL.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="solution-card">
            <div class="d-flex align-items-start">
              <div class="icon-box">
                <img src="../assets/images/life.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="solution-title">
                  {{ 'HOME.INSURANCE_SOLUTIONS.LIFE.TITLE' | translate }}
                </h5>

                <p class="solution-text">
                  {{ 'HOME.INSURANCE_SOLUTIONS.LIFE.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="solution-card">
            <div class="d-flex align-items-start">
              <div class="icon-box">
                <img src="../assets/images/health.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="solution-title">
                  {{ 'HOME.INSURANCE_SOLUTIONS.HEALTH.TITLE' | translate }}
                </h5>

                <p class="solution-text">
                  {{ 'HOME.INSURANCE_SOLUTIONS.HEALTH.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="solution-card seprator">
            <div class="d-flex align-items-start">
              <div class="icon-box">
                <img src="../assets/images/secure.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="solution-title">
                  {{ 'HOME.INSURANCE_SOLUTIONS.SURETY.TITLE' | translate }}
                </h5>

                <p class="solution-text">
                  {{ 'HOME.INSURANCE_SOLUTIONS.SURETY.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="why-choose-us">
    <div class="container-fluid p-0 overflow-hidden">
      <div class="row g-0">
        <div class="col-lg-6 d-none d-md-block">
          <div class="image-wrapper">
            <img src="assets/images/aboutTexnas.png" alt="Texas Flags" class="object-fit-cover" />
          </div>
        </div>

        <div class="col-sm-6 mt-5">
          <div class="content-inner">
            <h4 class="section-title mb-5">
              {{ 'ABOUT.WHY_TEXANS_CHOOSE.HEADING' | translate }}<br />
              <strong>{{ 'ABOUT.WHY_TEXANS_CHOOSE.HEADING2' | translate }}</strong>
            </h4>

            <div class="features-list">
              <div class="feature-item d-flex mb-3">
                <div class="icon-dot me-3 mt-2"></div>
                <div>
                  <h5 class="fw-bold mb-1">
                    {{ 'ABOUT.WHY_TEXANS_CHOOSE.CARD1.TITLE' | translate }}
                  </h5>
                  <p>{{ 'ABOUT.WHY_TEXANS_CHOOSE.CARD1.DESC' | translate }}</p>
                </div>
              </div>

              <div class="feature-item d-flex mb-3">
                <div class="icon-dot me-3 mt-2"></div>
                <div>
                  <h5 class="fw-bold mb-1">
                    {{ 'ABOUT.WHY_TEXANS_CHOOSE.CARD2.TITLE' | translate }}
                  </h5>
                  <p>{{ 'ABOUT.WHY_TEXANS_CHOOSE.CARD2.DESC' | translate }}</p>
                </div>
              </div>

              <div class="feature-item d-flex mb-3">
                <div class="icon-dot me-3 mt-2"></div>
                <div>
                  <h5 class="fw-bold mb-1">
                    {{ 'ABOUT.WHY_TEXANS_CHOOSE.CARD3.TITLE' | translate }}
                  </h5>
                  <p>{{ 'ABOUT.WHY_TEXANS_CHOOSE.CARD3.DESC' | translate }}</p>
                </div>
              </div>

              <div class="feature-item d-flex mb-3">
                <div class="icon-dot me-3 mt-2"></div>
                <div>
                  <h5 class="fw-bold mb-1">
                    {{ 'ABOUT.WHY_TEXANS_CHOOSE.CARD4.TITLE' | translate }}
                  </h5>
                  <p>{{ 'ABOUT.WHY_TEXANS_CHOOSE.CARD4.DESC' | translate }}</p>
                </div>
              </div>

              <div class="feature-item d-flex mb-3">
                <div class="icon-dot me-3 mt-2"></div>
                <div>
                  <h5 class="fw-bold mb-1">
                    {{ 'ABOUT.WHY_TEXANS_CHOOSE.CARD5.TITLE' | translate }}
                  </h5>
                  <p>{{ 'ABOUT.WHY_TEXANS_CHOOSE.CARD5.DESC' | translate }}</p>
                </div>
              </div>

              <!-- ... Repeat for other items ... -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- get covered -->
  <div class="getCovver">
    <div class="container">
      <div class="topSub">
        <div class="topSub2">
          <div class="h1">{{ 'HOME.COVERDBANNER.TITLE' | translate }}</div>
          <p class="paragraph">{{ 'HOME.COVERDBANNER.DESC' | translate }}</p>

          <div class="selectable mt-5">
            @for (item of chips.slice(0, 3); track item.name) {
            <div class="chip">
              <i class="{{ item?.icon }}"></i>
              <span>{{ item?.name | translate }}</span>
            </div>
            }
          </div>
          <div class="selectable mt-2">
            @for (item of chips.slice(3, 6); track item.name) {
            <div class="chip">
              <i class="{{ item?.icon }}"></i>
              <span>{{ item?.name | translate }}</span>
            </div>
            }
          </div>
          <div class="inps">
            <input
              type="text"
              [placeholder]="'HOME.BANNER.FORM.FULL_NAME' | translate"
              class="form-control"
            />
            <input
              type="number"
              [placeholder]="'HOME.BANNER.FORM.PHONE' | translate"
              class="form-control"
            />
          </div>
          <button class="btn">{{ 'HOME.COVERDBANNER.FORM.BUTTON' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- footuper -->
  <div class="footUpper">
    <div class="left"></div>
    <div class="right"></div>
    <div class="clipp"></div>
    <div class="contain">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="icon">
              <img src="/assets/images/logo.png" alt="User menu" />
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="h4">{{ 'FOOTER.SLOGAN' | translate }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
