.privacyMain {
  .topBanner {
    height: 13rem;
    background-color: #ca2b28;

    .container {
      display: flex;
      align-items: end;
      height: 100%;

      .h1 {
        color: #fff22f;
        font-weight: 600;
        font-size: 3rem;
        padding-right: 35rem;
        margin-bottom: 5rem;
      }
    }
  }
}

.privacy-section {
  background-color: #f4f4f4;

  .container {
    max-width: 1100px;
  }

  .section-title {
    color: #ca2b28;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 15px;
  }

  .sub-title {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 8px;
  }

  p {
    font-size: 15px;
    line-height: 1.7;
    color: #272424;
  }

  ol {
    padding-left: 20px;

    li {
      font-size: 14px;
      margin-bottom: 6px;
    }
  }

  .effective-date {
    font-size: 16px;
    color: #ca2b28;
    font-weight: 500;
  }

  .contact-info {
    p {
      margin-bottom: 8px;
      color: #ca2b28;
      font-size: 19px;
    }

    .highlight {
      color: #d32f2f;
      font-weight: 600;
    }
  }
}
.footUpper {
  height: 130px;
  width: 100%;
  background-color: #ca2b28;
  display: flex;
  flex-direction: row;
  position: relative;

  .left {
    width: 55%;
    height: 100%;
  }

  .right {
    height: 100%;
    background-color: #e62e2a;
    width: 50%;
  }

  .clipp {
    position: absolute;
    clip-path: polygon(67% 0, 100% 0, 100% 99%, 20% 100%);
    height: 130px;
    width: 130px;
    background-color: #e62e2a;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .contain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    .col-lg-6 {
      display: flex;
      align-items: center;

      .icon {
        height: 80%;
        width: fit-content;
      }

      .h4 {
        font-weight: 700;
        color: #fff;
        font-size: 42px;
        margin: 0;
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .privacyMain {
    .topBanner {
      min-height: 6rem;

      .container {
        justify-content: center;

        .h1 {
          font-size: 1.6rem;
          margin-bottom: 2.8rem;
          text-align: center;
          padding: 0 1rem;
        }
      }
    }
  }

  .footUpper {
    height: 270px;
    flex-direction: column;

    .left {
      width: 100%;
    }

    .right {
      width: 100%;
    }

    .clipp {
      display: none;
    }

    .contain {
      .col-lg-6 {
        text-align: center;
        align-items: center;
        justify-content: center;

        .icon {
          transform: translateY(-15px);
        }

        .h4 {
          font-size: 40px;
          margin: 0;
          transform: translateY(10px);
        }
      }
    }
  }
}
