<div class="homeMain">
  <div class="topBanner">
    <div class="container">
      <div class="topSub">
        <div class="topSub2">
          <h1 class="h1">
            <span [innerHTML]="'TRAVEL_HEALTH_INSURANCE.BANNER.TITLE_LINE1' | translateHtml | async"></span> <br />
            <span [innerHTML]="'TRAVEL_HEALTH_INSURANCE.BANNER.TITLE_LINE2' | translateHtml | async"></span> <span class="heading-span" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.BANNER.TITLE_LINE3' | translateHtml | async"></span>
          </h1>
          <!-- 
          <div class="selectable">
            
            @for (item of chips; track item.name) {
            <div class="chip" [appChipNav]="item.name" *ngIf="item.name">
              <i class="{{ item.icon }}"></i>
              <span><span [innerHTML]="item.name | translateHtml | async"></span></span>
            </div>
            }
          </div> -->

          <div class="selectable mt-4">
            @for (item of chips.slice(0, 3); track item.name) {
            <div class="chip" [appChipNav]="item.name" *ngIf="item.name">
              <i class="{{ item?.icon }}"></i>
              <span><span [innerHTML]="item.name | translateHtml | async"></span></span>
            </div>
            }
          </div>
          <div class="selectable mt-2">
            @for (item of chips.slice(3, 6); track item.name) {
            <div class="chip" [appChipNav]="item.name" *ngIf="item.name">
              <i class="{{ item?.icon }}"></i>
              <span><span [innerHTML]="item.name | translateHtml | async"></span></span>
            </div>
            }
          </div>

          <div class="inps">
            <input type="text" [placeholder]="'TRAVEL_HEALTH_INSURANCE.BANNER.FORM.FULL_NAME' | translate"
              class="form-control" />

            <input type="tel" appPhoneFormat [placeholder]="'TRAVEL_HEALTH_INSURANCE.BANNER.FORM.PHONE' | translate"
              class="form-control" />
          </div>

          <button class="btn" type="button" appBannerQuoteSubmit>
            {{ 'TRAVEL_HEALTH_INSURANCE.BANNER.FORM.BUTTON' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container my-5">
    <h2 class="section-title mb-4" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.WHY_DO_YOU_NEED.TITLE' | translateHtml | async"></h2>
    <p class="section-description mb-4" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.WHY_DO_YOU_NEED.DESC' | translateHtml | async"></p>

    <p class="section-description mb-4" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.WHY_DO_YOU_NEED.DESC1' | translateHtml | async"></p>

    <p class="section-sub-title mb-4" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.WHY_DO_YOU_NEED.SUB_TITLE' | translateHtml | async"></p>


    <div class="insurance-list">
      <div class="insurance-item"
        *ngFor="let item of 'TRAVEL_HEALTH_INSURANCE.WHY_DO_YOU_NEED.LIST' | translate; let i = index">

        <div class="number">0{{ i + 1 }}</div>

        <div class="content">
          <h3 class="need-title">{{ item.TITLE }}</h3>
          <p>{{ item.TEXT }}</p>
        </div>

      </div>
    </div>
  </div>


  <section class="insurance-laws-section py-5">
    <div class="container-max-800">

      <h2 class="main-title" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.HOW_IT_WORKS.TITLE' | translateHtml | async"></h2>

      <p class="intro-text">
        <span [innerHTML]="'TRAVEL_HEALTH_INSURANCE.HOW_IT_WORKS.DESC1' | translateHtml | async"></span>
        <br>
        <br>
        <span [innerHTML]="'TRAVEL_HEALTH_INSURANCE.HOW_IT_WORKS.DESC2' | translateHtml | async"></span>

      </p>


    </div>
  </section>



  <section class="insurance-section py-5">
    <div class="container">
      <!-- Header -->
      <div class="header-content mb-5">
        <h2 class="coverages-title text-danger fw-bold" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.COVERAGES.STANDARD.TITLE' | translateHtml | async"></h2>
        <p class="small text-muted" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.COVERAGES.STANDARD.DESC' | translateHtml | async"></p>
      </div>

      <div class="row g-4 mb-5">
        @for (item of ('TRAVEL_HEALTH_INSURANCE.COVERAGES.STANDARD.LIST' | translate); track item.TITLE) {
        <div class="col-md-4">
          <div class="insurance-card">
            <div class="card-icon"><i [class]="item.ICON"></i></div>
            <div class="card-body">
              <h3 class="coverage-title">{{ item.TITLE }}</h3>
              <p>{{ item.DESC }}</p>
            </div>
          </div>
        </div>
        }
      </div>

      <!-- Optional Coverages Carousel -->

    </div>
  </section>

  <section class="factors-impact-section bg-white">
    <div class="container px-4">
      <h2 class="section-title" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.NOT_COVERED.HEADER.TITLE' | translateHtml | async"></h2>
      <p class="intro-text" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.NOT_COVERED.HEADER.DESC' | translateHtml | async"></p>

      <div class="row mt-5">
        @for (key of notCoveredKeys; track key) {
        <div class="col-lg-6">
          <div class="factor-item">
            <div class="icon-wrapper">
              <i [class]="'TRAVEL_HEALTH_INSURANCE.NOT_COVERED.LIST.' + key + '.ICON' | translate"></i>
            </div>
            <div class="factor-content">
              <h3 class="factor-title"><span [innerHTML]="('TRAVEL_HEALTH_INSURANCE.NOT_COVERED.LIST.' + key + '.TITLE') | translateHtml | async"></span></h3>
              <p><span [innerHTML]="('TRAVEL_HEALTH_INSURANCE.NOT_COVERED.LIST.' + key + '.DESC') | translateHtml | async"></span></p>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </section>

  <section class="insurance-section py-5">
    <div class="container">
      <!-- Header -->
      <div class="header-content mb-5">
        <h2 class="coverages-title text-danger fw-bold" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.COVERAGES.TYPES.TITLE' | translateHtml | async"></h2>
        <p class="small text-muted" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.COVERAGES.TYPES.DESC' | translateHtml | async"></p>
      </div>

      <div class="row g-4 mb-5">
        @for (item of ('TRAVEL_HEALTH_INSURANCE.COVERAGES.TYPES.LIST' | translate); track item.TITLE) {
        <div class="col-md-4">
          <div class="insurance-card">
            <div class="card-icon"><i [class]="item.ICON"></i></div>
            <div class="card-body">
              <h3 class="coverage-title">{{ item.TITLE }}</h3>
              <p>{{ item.DESC }}</p>
            </div>
          </div>
        </div>
        }
      </div>

      <!-- Optional Coverages Carousel -->

    </div>
  </section>

  <section class="cost-section py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <!-- Title -->
          <h2 class="cost-title mb-4" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.HEALTH_INSURANCE_COST.TITLE' | translateHtml | async"></h2>

          <!-- Description Content -->
          <div class="cost-description">
            <p class="mb-4" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.HEALTH_INSURANCE_COST.DESC1' | translateHtml | async"></p>

            <p [innerHTML]="'TRAVEL_HEALTH_INSURANCE.HEALTH_INSURANCE_COST.DESC2' | translateHtml | async"></p>
          </div>
        </div>
      </div>
    </div>
  </section>





  <section class="rates-section py-5">
    <div class="container container-max-1100 px-4">
      <h2 class="section-title" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.FAMILY_VS_INDIVIDUAL.HEADER.TITLE' | translateHtml | async"></h2>
      <div class="intro-text">
        <p [innerHTML]="'TRAVEL_HEALTH_INSURANCE.FAMILY_VS_INDIVIDUAL.HEADER.DESC' | translateHtml | async"></p>
      </div>

      <!-- Table Container -->
      <div class="rates-table-card p-4 mt-5">
        <div class="row g-2 text-center text-white fw-bold mb-2">
          <div class="col-4">
            <div class="header-pill bg-danger py-2" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.FAMILY_VS_INDIVIDUAL.TABLE.COLUMNS.FEATURE' | translateHtml | async"></div>
          </div>
          <div class="col-4">
            <div class="header-pill bg-danger py-2" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.FAMILY_VS_INDIVIDUAL.TABLE.COLUMNS.FAMILY' | translateHtml | async"></div>
          </div>
          <div class="col-4">
            <div class="header-pill bg-danger py-2" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.FAMILY_VS_INDIVIDUAL.TABLE.COLUMNS.INDIVIDUAL' | translateHtml | async"></div>
          </div>
        </div>

        <!-- Data Rows -->
        <div class="rates-rows">
          @for (item of factorComparisonKeys; track item; let i = $index) {
          <div class="row g-2 text-center mb-2 align-items-center">
            <div class="col-4">
              <div class="data-pill" [class.data-pill-color-2]="i % 2 === 0" [class.data-pill-color-1]="i % 2 !== 0">
                <span [innerHTML]="('TRAVEL_HEALTH_INSURANCE.FAMILY_VS_INDIVIDUAL.TABLE.LIST.' + item + '.FEATURE') | translateHtml | async"></span>
              </div>
            </div>
            <div class="col-4">
              <div class="data-pill" [class.data-pill-color-2]="i % 2 === 0" [class.data-pill-color-1]="i % 2 !== 0">
                <span [innerHTML]="('TRAVEL_HEALTH_INSURANCE.FAMILY_VS_INDIVIDUAL.TABLE.LIST.' + item + '.FAMILY') | translateHtml | async"></span>
              </div>
            </div>
            <div class="col-4">
              <div class="data-pill" [class.data-pill-color-2]="i % 2 === 0" [class.data-pill-color-1]="i % 2 !== 0">
                <span [innerHTML]="('TRAVEL_HEALTH_INSURANCE.FAMILY_VS_INDIVIDUAL.TABLE.LIST.' + item + '.INDIVIDUAL') | translateHtml | async"></span>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </section>



  <section class="factors-impact-section">
    <div class="container">
      <h2 class="section-title" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.FACTORS_IMPACT.HEADER.TITLE' | translateHtml | async"></h2>
      <p class="intro-text" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.FACTORS_IMPACT.HEADER.DESC' | translateHtml | async"></p>

      <div class="row">
        @for (key of impactFactorsKeys; track key) {
        <div class="col-lg-6">
          <div class="factor-item">
            <div class="factor-content">
              <p> <strong><span [innerHTML]="('TRAVEL_HEALTH_INSURANCE.FACTORS_IMPACT.LIST.' + key + '.TITLE') | translateHtml | async"></span>
                  :</strong>
                <span [innerHTML]="('TRAVEL_HEALTH_INSURANCE.FACTORS_IMPACT.LIST.' + key + '.DESC') | translateHtml | async"></span></p>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </section>

  <div class="factors-impact-section bg-white">
    <div class="container">
      <h2 class="section-title" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.DISCOUNT_FACTORS.HEADER.TITLE' | translateHtml | async"></h2>
      <p class="intro-text" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.DISCOUNT_FACTORS.HEADER.DESC' | translateHtml | async"></p>

      <div class="row">
        @for (key of discountKeys; track key) {
        <div class="col-lg-6">
          <div class="factor-card">
            <div class="factor-content">
              <p> <strong><span [innerHTML]="('TRAVEL_HEALTH_INSURANCE.DISCOUNT_FACTORS.LIST.' + key + '.TITLE') | translateHtml | async"></span>
                  :</strong>
                <span [innerHTML]="('TRAVEL_HEALTH_INSURANCE.DISCOUNT_FACTORS.LIST.' + key + '.DESC') | translateHtml | async"></span></p>

              <!-- <h6 class="factor-title">
                <span [innerHTML]="('TRAVEL_HEALTH_INSURANCE.FACTORS_IMPACT.LIST.' + key + '.TITLE') | translateHtml | async"></span>
              </h6>
              <p class="factor-desc">
                <span [innerHTML]="('TRAVEL_HEALTH_INSURANCE.FACTORS_IMPACT.LIST.' + key + '.DESC') | translateHtml | async"></span>
              </p> -->
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>


  <section class="rates-section py-5">
    <div class="container container-max-1100 px-4">
      <h2 class="section-title" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.AGENT_COMPARISON.HEADER.TITLE' | translateHtml | async"></h2>
      <div class="intro-text">
        <p [innerHTML]="'TRAVEL_HEALTH_INSURANCE.AGENT_COMPARISON.HEADER.DESC' | translateHtml | async"></p>
      </div>

      <!-- Table Container -->
      <div class="rates-table-card p-4 mt-5">
        <div class="row g-2 text-center text-white fw-bold mb-2">
          <div class="col-4">
            <div class="header-pill bg-danger py-2" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.AGENT_COMPARISON.TABLE.COLUMNS.FEATURE' | translateHtml | async"></div>
          </div>
          <div class="col-4">
            <div class="header-pill bg-danger py-2" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.AGENT_COMPARISON.TABLE.COLUMNS.INDEPENDENT' | translateHtml | async"></div>
          </div>
          <div class="col-4">
            <div class="header-pill bg-danger py-2" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.AGENT_COMPARISON.TABLE.COLUMNS.CAPTIVE' | translateHtml | async"></div>
          </div>
        </div>

        <!-- Data Rows -->
        <div class="rates-rows">
          @for (item of agentComparisonData; track item; let i = $index) {
          <div class="row g-2 text-center mb-2 align-items-center">
            <div class="col-4">
              <div class="data-pill" [class.data-pill-color-2]="i % 2 === 0" [class.data-pill-color-1]="i % 2 !== 0">
                <span [innerHTML]="('TRAVEL_HEALTH_INSURANCE.AGENT_COMPARISON.TABLE.LIST.' + item + '.FEATURE') | translateHtml | async"></span>
              </div>
            </div>
            <div class="col-4">
              <div class="data-pill" [class.data-pill-color-2]="i % 2 === 0" [class.data-pill-color-1]="i % 2 !== 0">
                <span [innerHTML]="('TRAVEL_HEALTH_INSURANCE.AGENT_COMPARISON.TABLE.LIST.' + item + '.INDEPENDENT') | translateHtml | async"></span>
              </div>
            </div>
            <div class="col-4">
              <div class="data-pill" [class.data-pill-color-2]="i % 2 === 0" [class.data-pill-color-1]="i % 2 !== 0">
                <span [innerHTML]="('TRAVEL_HEALTH_INSURANCE.AGENT_COMPARISON.TABLE.LIST.' + item + '.CAPTIVE') | translateHtml | async"></span>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </section>




  <section class="high-risk-section">
    <div class="container px-4">
      <h2 class="section-title" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.GROWING_FAMILY.HEADER.TITLE' | translateHtml | async"></h2>
      <div class="intro-text">
        <p [innerHTML]="'TRAVEL_HEALTH_INSURANCE.GROWING_FAMILY.CONTENT.DESC1' | translateHtml | async"></p>
        <p [innerHTML]="'TRAVEL_HEALTH_INSURANCE.GROWING_FAMILY.CONTENT.DESC2' | translateHtml | async"></p>
      </div>
    </div>
  </section>

  <section class="language-section">
    <div class="container px-4">
      <h2 class="section-title" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.LANGUAGE_SUPPORT.HEADER.TITLE' | translateHtml | async"></h2>
      <div class="intro-text">
        <p [innerHTML]="'TRAVEL_HEALTH_INSURANCE.LANGUAGE_SUPPORT.CONTENT.DESC1' | translateHtml | async"></p>
        <p [innerHTML]="'TRAVEL_HEALTH_INSURANCE.LANGUAGE_SUPPORT.CONTENT.DESC2' | translateHtml | async"></p>

      </div>
    </div>
  </section>


  <div class="texan-choose-image">
    <div class="container py-5 mt-5">
      <div class="row mb-5 text-center">
        <div class="col-6">
          <h3 class="heading" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.ASTATE_DIFFERENTIATORS.HEADER.TITLE' | translateHtml | async"></h3>
        </div>
      </div>
      <div class="gap-m">
        <!-- card start -->
        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/carbon_license.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h3 class="card-title" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.ASTATE_DIFFERENTIATORS.LIST.LICENSED_BROKERS.TITLE' | translateHtml | async"></h3>
                <p class="card-text" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.ASTATE_DIFFERENTIATORS.LIST.LICENSED_BROKERS.DESCRIPTION' | translateHtml | async"></p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/Heart.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h3 class="card-title" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.ASTATE_DIFFERENTIATORS.LIST.HISPANIC_LATINO_FRIENDLY.TITLE' | translateHtml | async"></h3>
                <p class="card-text" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.ASTATE_DIFFERENTIATORS.LIST.HISPANIC_LATINO_FRIENDLY.DESCRIPTION' | translateHtml | async"></p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/calendar.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h3 class="card-title" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.ASTATE_DIFFERENTIATORS.LIST.YEARS_SERVING.TITLE' | translateHtml | async"></h3>
                <p class="card-text" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.ASTATE_DIFFERENTIATORS.LIST.YEARS_SERVING.DESCRIPTION' | translateHtml | async"></p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/price.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h3 class="card-title" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.ASTATE_DIFFERENTIATORS.LIST.CUSTOM_COVERAGE.TITLE' | translateHtml | async"></h3>
                <p class="card-text" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.ASTATE_DIFFERENTIATORS.LIST.CUSTOM_COVERAGE.DESCRIPTION' | translateHtml | async"></p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/wifi.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h3 class="card-title" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.ASTATE_DIFFERENTIATORS.LIST.ONLINE_LOCAL.TITLE' | translateHtml | async"></h3>
                <p class="card-text" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.ASTATE_DIFFERENTIATORS.LIST.ONLINE_LOCAL.DESCRIPTION' | translateHtml | async"></p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/agents.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h3 class="card-title" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.ASTATE_DIFFERENTIATORS.LIST.MULTILINGUAL_AGENTS.TITLE' | translateHtml | async"></h3>
                <p class="card-text" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.ASTATE_DIFFERENTIATORS.LIST.MULTILINGUAL_AGENTS.DESCRIPTION' | translateHtml | async"></p>
              </div>
            </div>
          </div>
        </div>

        <!-- card end -->
      </div>
    </div>
  </div>

  <section class="insurance-steps py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="image-container rounded-4 overflow-hidden position-relative">
            <img src="assets/images/commercial-insurance/commercial-step-banner.png" alt="Texas Flag"
              class="img-fluid w-100">
            <div class="red-overlay"></div>
          </div>
        </div>

        <div class="col-md-6 ps-md-5">
          <h2 class="section-title mb-5" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.INSURANCE_STEPS.HEADER.TITLE' | translateHtml | async"></h2>

          <div class="timeline">
            <div class="timeline-item">
              <div class="dot"></div>
              <div class="content">
                <h3 [innerHTML]="'TRAVEL_HEALTH_INSURANCE.INSURANCE_STEPS.STEPS.REACH_OUT.TITLE' | translateHtml | async"></h3>
                <p [innerHTML]="'TRAVEL_HEALTH_INSURANCE.INSURANCE_STEPS.STEPS.REACH_OUT.DESCRIPTION' | translateHtml | async"></p>
              </div>
            </div>

            <div class="timeline-item">
              <div class="dot"></div>
              <div class="content">
                <h3 [innerHTML]="'TRAVEL_HEALTH_INSURANCE.INSURANCE_STEPS.STEPS.GET_ADVICE.TITLE' | translateHtml | async"></h3>
                <p [innerHTML]="'TRAVEL_HEALTH_INSURANCE.INSURANCE_STEPS.STEPS.GET_ADVICE.DESCRIPTION' | translateHtml | async"></p>
              </div>
            </div>

            <div class="timeline-item">
              <div class="dot"></div>
              <div class="content">
                <h3 [innerHTML]="'TRAVEL_HEALTH_INSURANCE.INSURANCE_STEPS.STEPS.PICK_PLAN.TITLE' | translateHtml | async"></h3>
                <p [innerHTML]="'TRAVEL_HEALTH_INSURANCE.INSURANCE_STEPS.STEPS.PICK_PLAN.DESCRIPTION' | translateHtml | async"></p>
              </div>
            </div>

            <div class="timeline-item">
              <div class="dot"></div>
              <div class="content">
                <h3 [innerHTML]="'TRAVEL_HEALTH_INSURANCE.INSURANCE_STEPS.STEPS.WE_GOT_YOU.TITLE' | translateHtml | async"></h3>
                <p [innerHTML]="'TRAVEL_HEALTH_INSURANCE.INSURANCE_STEPS.STEPS.WE_GOT_YOU.DESCRIPTION' | translateHtml | async"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="switch-steps-section">
    <div class="container px-4">
      <h2 class="section-title" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.SWITCH_STEPS.HEADER.TITLE' | translateHtml | async"></h2>

      <div class="switch-steps-grid">
        @for (step of switchSteps; track step) {
        <div class="switch-card-wrapper">
          <div class="switch-card">
            <h3 class="switch-step-title"><span [innerHTML]="('TRAVEL_HEALTH_INSURANCE.SWITCH_STEPS.STEPS.' + step + '.TITLE') | translateHtml | async"></span></h3>
            <p><span [innerHTML]="('TRAVEL_HEALTH_INSURANCE.SWITCH_STEPS.STEPS.' + step + '.DESCRIPTION') | translateHtml | async"></span></p>
          </div>
        </div>
        }
      </div>
    </div>
  </section>



  <div class="getCoverd">
    <div class="container">
      <div class="topSub">
        <div class="topSub2">
          <div class="h1" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.FREE_QUOTE.HEADER' | translateHtml | async"></div>
          <p class="para" [innerHTML]="'TRAVEL_HEALTH_INSURANCE.FREE_QUOTE.DESCRIPTION' | translateHtml | async"></p>
          <div class="selectable mt-4">
            @for (item of chips.slice(0, 3); track item.name) {
            <div class="chip" [appChipNav]="item.name" *ngIf="item.name">
              <i class="{{ item?.icon }}"></i>
              <span><span [innerHTML]="item.name | translateHtml | async"></span></span>
            </div>
            }
          </div>
          <div class="selectable mt-2">
            @for (item of chips.slice(3, 6); track item.name) {
            <div class="chip" [appChipNav]="item.name" *ngIf="item.name">
              <i class="{{ item?.icon }}"></i>
              <span><span [innerHTML]="item.name | translateHtml | async"></span></span>
            </div>
            }
          </div>

          <div class="inps">
            <input type="text" [placeholder]="'TRAVEL_HEALTH_INSURANCE.BANNER.FORM.FULL_NAME' | translate"
              class="form-control" />

            <input type="tel" appPhoneFormat [placeholder]="'TRAVEL_HEALTH_INSURANCE.BANNER.FORM.PHONE' | translate"
              class="form-control" />
          </div>

          <button class="btn" type="button" appBannerQuoteSubmit>
            {{ 'TRAVEL_HEALTH_INSURANCE.BANNER.FORM.BUTTON' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>



  <!-- footuper -->
  <app-foot-upper></app-foot-upper>
  <!--  -->
</div>