<div class="homeMain">
  <div class="topBanner">
    <div class="container">
      <div class="topSub">
        <div class="topSub2">
          <div class="h1">
            {{ 'HOME.BANNER.TITLE_LINE1' | translate }} <br />
            {{ 'HOME.BANNER.TITLE_LINE2' | translate }}
          </div>
          <!-- 
          <div class="selectable">
            
            @for (item of chips; track item.name) {
            <div class="chip">
              <i class="{{ item.icon }}"></i>
              <span>{{ item.name | translate }}</span>
            </div>
            }
          </div> -->

          <div class="selectable mt-5">
            @for (item of chips.slice(0, 3); track item.name) {
            <div class="chip">
              <i class="{{ item?.icon }}"></i>
              <span>{{ item?.name | translate }}</span>
            </div>
            }
          </div>
          <div class="selectable mt-2">
            @for (item of chips.slice(3, 6); track item.name) {
            <div class="chip">
              <i class="{{ item?.icon }}"></i>
              <span>{{ item?.name | translate }}</span>
            </div>
            }
          </div>

          <div class="inps">
            <input
              type="text"
              [placeholder]="'HOME.BANNER.FORM.FULL_NAME' | translate"
              class="form-control"
            />

            <input
              type="number"
              [placeholder]="'HOME.BANNER.FORM.PHONE' | translate"
              class="form-control"
            />
          </div>

          <button class="btn">
            {{ 'HOME.BANNER.FORM.BUTTON' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Why Texans Choose A-State Insurance -->

  <div class="texan-choose-image">
    <div class="container py-5 mt-5">
      <div class="row mb-5 text-center">
        <div class="col-12">
          <h3 class="heading">
            {{ 'HOME.WHY_CHOOSE.HEADING' | translate }}
            <strong> {{ 'HOME.WHY_CHOOSE.HEADING_STRONG' | translate }} </strong>
          </h3>
        </div>
      </div>
      <div class="gap-m">
        <!-- card start -->
        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/carbon_license.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'HOME.WHY_CHOOSE.CARD1.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'HOME.WHY_CHOOSE.CARD1.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/Heart.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'HOME.WHY_CHOOSE.CARD2.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'HOME.WHY_CHOOSE.CARD2.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/calendar.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'HOME.WHY_CHOOSE.CARD3.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'HOME.WHY_CHOOSE.CARD3.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/price.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'HOME.WHY_CHOOSE.CARD4.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'HOME.WHY_CHOOSE.CARD4.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/wifi.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'HOME.WHY_CHOOSE.CARD5.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'HOME.WHY_CHOOSE.CARD5.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>

          <div class="col px-4">
            <div class="feature-card feature-card-height">
              <div class="icon-wrapper">
                <img src="../assets/images/agents.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="card-title">
                  {{ 'HOME.WHY_CHOOSE.CARD6.TITLE' | translate }}
                </h5>
                <p class="card-text">
                  {{ 'HOME.WHY_CHOOSE.CARD6.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- card end -->
      </div>
    </div>
  </div>

  <!-- Our Insurance Solutions -->
  <div class="solutions-section">
    <div class="side-strip"></div>
    <div class="container position-relative">
      <div class="row mb-5 text-center">
        <div class="col-12">
          <h2 class="section-title">
            {{ 'HOME.INSURANCE_SOLUTIONS.TITLE' | translate }}
          </h2>
        </div>
      </div>
      <div class="row g-4">
        <div class="col-md-6">
          <div class="solution-card">
            <div class="d-flex align-items-start">
              <div class="icon-box">
                <img src="../assets/images/car.png" alt="Car Icon" />
                <!-- <i class="fas fa-car"></i> -->
              </div>
              <div class="card-content">
                <h5 class="solution-title">
                  {{ 'HOME.INSURANCE_SOLUTIONS.AUTO.TITLE' | translate }}
                </h5>

                <p class="solution-text">
                  {{ 'HOME.INSURANCE_SOLUTIONS.AUTO.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="solution-card seprator">
            <div class="d-flex align-items-start">
              <div class="icon-box">
                <img src="../assets/images/house.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="solution-title">
                  {{ 'HOME.INSURANCE_SOLUTIONS.HOME.TITLE' | translate }}
                </h5>

                <p class="solution-text">
                  {{ 'HOME.INSURANCE_SOLUTIONS.HOME.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="solution-card seprator">
            <div class="d-flex align-items-start">
              <div class="icon-box">
                <img src="../assets/images/commercial.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="solution-title">
                  {{ 'HOME.INSURANCE_SOLUTIONS.COMMERCIAL.TITLE' | translate }}
                </h5>

                <p class="solution-text">
                  {{ 'HOME.INSURANCE_SOLUTIONS.COMMERCIAL.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="solution-card">
            <div class="d-flex align-items-start">
              <div class="icon-box">
                <img src="../assets/images/life.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="solution-title">
                  {{ 'HOME.INSURANCE_SOLUTIONS.LIFE.TITLE' | translate }}
                </h5>

                <p class="solution-text">
                  {{ 'HOME.INSURANCE_SOLUTIONS.LIFE.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="solution-card">
            <div class="d-flex align-items-start">
              <div class="icon-box">
                <img src="../assets/images/health.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="solution-title">
                  {{ 'HOME.INSURANCE_SOLUTIONS.HEALTH.TITLE' | translate }}
                </h5>

                <p class="solution-text">
                  {{ 'HOME.INSURANCE_SOLUTIONS.HEALTH.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="solution-card seprator">
            <div class="d-flex align-items-start">
              <div class="icon-box">
                <img src="../assets/images/secure.png" alt="Car Icon" />
              </div>
              <div class="card-content">
                <h5 class="solution-title">
                  {{ 'HOME.INSURANCE_SOLUTIONS.SURETY.TITLE' | translate }}
                </h5>

                <p class="solution-text">
                  {{ 'HOME.INSURANCE_SOLUTIONS.SURETY.DESC' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5 text-end">
        <div class="col-12">
          <button class="btn btn-see-all">
            {{ 'HOME.INSURANCE_SOLUTIONS.SEE_ALL' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- everystory -->
  <div class="everyStory">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="story">
            <div class="sinner">
              <div class="bar"></div>
              <div class="text">
                <div class="h4">
                  {{ 'HOME.EVERY_STORY.TITLE_LINE1' | translate }} <br />
                  {{ 'HOME.EVERY_STORY.TITLE_LINE2' | translate }}
                </div>
                <p>
                  {{ 'HOME.EVERY_STORY.PARA1' | translate }}
                </p>

                <br />

                <p>
                  {{ 'HOME.EVERY_STORY.PARA2' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Working With A State -->
  <div class="container-fluid py-5 insurance-section position-relative overflow-hidden">
    <img src="../assets/images/insurance-left.png" class="bg-shape shape-left" alt="decoration" />
    <img src="../assets/images/insurance-right.png" class="bg-shape shape-right" alt="decoration" />

    <div class="container">
      <h5 class="text-center mb-5 heading">
        {{ 'HOME.WORKING_PROCESS.TITLE_LINE1' | translate }}
        <strong>{{ 'HOME.WORKING_PROCESS.TITLE_STRONG' | translate }}</strong>
        {{ 'HOME.WORKING_PROCESS.TITLE_LINE2' | translate }}
      </h5>

      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 position-relative">
          <div class="vertical-line"></div>

          <div class="d-flex align-items-center mb-4 insurance-card p-3">
            <div class="step-number">01</div>
            <div class="ms-4 working-heading">
              <h5 class="fw-bold mb-1">
                {{ 'HOME.WORKING_PROCESS.STEP1.TITLE' | translate }}
              </h5>
              <p class="text-muted mb-0 small">
                {{ 'HOME.WORKING_PROCESS.STEP1.DESC' | translate }}
              </p>
            </div>
          </div>

          <div class="d-flex align-items-center mb-4 insurance-card p-3">
            <div class="step-number">02</div>
            <div class="ms-4 working-heading">
              <h5 class="fw-bold mb-1">
                {{ 'HOME.WORKING_PROCESS.STEP2.TITLE' | translate }}
              </h5>
              <p class="text-muted mb-0 small">
                {{ 'HOME.WORKING_PROCESS.STEP2.DESC' | translate }}
              </p>
            </div>
          </div>

          <div class="d-flex align-items-center mb-4 insurance-card p-3">
            <div class="step-number">03</div>
            <div class="ms-4 working-heading">
              <h5 class="fw-bold mb-1">
                {{ 'HOME.WORKING_PROCESS.STEP3.TITLE' | translate }}
              </h5>
              <p class="text-muted mb-0 small">
                {{ 'HOME.WORKING_PROCESS.STEP3.DESC' | translate }}
              </p>
            </div>
          </div>

          <div class="d-flex align-items-center insurance-card p-3">
            <div class="step-number">04</div>
            <div class="ms-4 working-heading">
              <h5 class="fw-bold mb-1">
                {{ 'HOME.WORKING_PROCESS.STEP4.TITLE' | translate }}
              </h5>
              <p class="text-muted mb-0 small">
                {{ 'HOME.WORKING_PROCESS.STEP4.DESC' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Testimonials Section -->
  <app-testimonial-slider></app-testimonial-slider>

  <!-- get covered -->
  <div class="topBanner getCovver">
    <div class="container">
      <div class="topSub">
        <div class="topSub2">
          <div class="h1">{{ 'HOME.COVERDBANNER.TITLE' | translate }}</div>
          <div class="selectable mt-5">
            @for (item of chips.slice(0, 3); track item.name) {
            <div class="chip">
              <i class="{{ item?.icon }}"></i>
              <span>{{ item?.name | translate }}</span>
            </div>
            }
          </div>
          <div class="selectable mt-2">
            @for (item of chips.slice(3, 6); track item.name) {
            <div class="chip">
              <i class="{{ item?.icon }}"></i>
              <span>{{ item?.name | translate }}</span>
            </div>
            }
          </div>
          <div class="inps">
            <input
              type="text"
              [placeholder]="'HOME.BANNER.FORM.FULL_NAME' | translate"
              class="form-control"
            />
            <input
              type="number"
              [placeholder]="'HOME.BANNER.FORM.PHONE' | translate"
              class="form-control"
            />
          </div>
          <button class="btn">{{ 'HOME.COVERDBANNER.FORM.BUTTON' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- footuper -->
  <div class="footUpper">
    <div class="left"></div>
    <div class="right"></div>
    <div class="clipp"></div>
    <div class="contain">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="icon">
              <img src="/assets/images/logo.png" alt="User menu" />
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="h4">{{ 'FOOTER.SLOGAN' | translate }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
</div>
