.careerMain {
  .topBanner {
    background-color: #ca2b28;
    padding: 60px 0; // use padding instead of min-height
    display: flex;
    align-items: center;

    .container {
      display: flex;
      align-items: center;
      width: 100%;
    }

    .banner-title {
      color: #fff22f;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.2;
      margin: 0;
      max-width: 650px;
    }
  }
}

.agency-section {
  background-color: #f4f4f4;
  min-height: 100vh;
  color: #333;

  .container {
    max-width: 1100px;
  }
}

.main-title {
  color: #c62828;
  font-weight: 500;
  font-size: 25ox;
  font-size: 38px;
  margin-bottom: 1rem;
}

.section-heading {
  color: #c62828;
  font-weight: 500;
  font-size: 34px;
  margin-bottom: 1.5rem;
}

.section-heading-form {
  color: #c62828;
  font-weight: 500;
  font-size: 38px;
  margin-bottom: 1.5rem;
}
.culture-title {
  color: #c62828;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 1rem;
}

.pillar-title {
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.section-text {
  font-size: 0.95rem;
  line-height: 1.7;
  color: #444;
}

.culture-quote {
  font-size: 28px;
  font-style: italic;
  font-weight: 600;
  color: #333;
  margin: 1rem 0;
}

.custom-input {
  background-color: #e9e9e9;
  border: none;
  padding: 0.8rem;
  font-size: 0.9rem;
  border-radius: 4px;

  &:focus {
    box-shadow: none;
    border: 1px solid #c62828;
    background-color: #fff;
  }
}

.submit-btn {
  background-color: #ffea00;
  color: #c62828;
  font-weight: 600;
  padding: 0.6rem 2rem;
  border-radius: 6px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

  &:hover {
    background-color: #ffd600;
  }
}
.footUpper {
  height: 130px;
  width: 100%;
  background-color: #ca2b28;
  display: flex;
  flex-direction: row;
  position: relative;

  .left {
    width: 55%;
    height: 100%;
  }

  .right {
    height: 100%;
    background-color: #e62e2a;
    width: 50%;
  }

  .clipp {
    position: absolute;
    clip-path: polygon(67% 0, 100% 0, 100% 99%, 20% 100%);
    height: 130px;
    width: 130px;
    background-color: #e62e2a;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .contain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    .col-lg-6 {
      display: flex;
      align-items: center;

      .icon {
        height: 80%;
        width: fit-content;
      }

      .h4 {
        font-weight: 700;
        color: #fff;
        font-size: 42px;
        margin: 0;
      }
    }
  }
}
@media (max-width: 992px) {
  .careerMain .topBanner .banner-title {
    font-size: 2.3rem;
  }
}

@media (max-width: 576px) {
  .careerMain {
    .topBanner {
      padding: 94px 0px 16px 0px;
      justify-content: center;
      text-align: center;

      .container {
        justify-content: center;
      }

      .banner-title {
        font-size: 1.8rem;
        line-height: 1.3;
        padding: 0 1rem;
      }
    }
  }
}

@media (max-width: 400px) {
  .careerMain .topBanner .banner-title {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 540px) {
  .footUpper {
    height: 270px;
    flex-direction: column;

    .left {
      width: 100%;
    }

    .right {
      width: 100%;
    }

    .clipp {
      display: none;
    }

    .contain {
      .col-lg-6 {
        text-align: center;
        align-items: center;
        justify-content: center;

        .icon {
          transform: translateY(-15px);
        }

        .h4 {
          font-size: 40px;
          margin: 0;
          transform: translateY(10px);
        }
      }
    }
  }
}
