<div class="quoteMain">
  <div class="topBanner">
    <div class="container">
      <div class="h1">{{ 'GET_HOME_QUOTE.HEADING' | translate }}
        <p class="heroDesc">{{ 'GET_HOME_QUOTE.DESCRIPTION' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="container my-5 quote-wrapper">
    <div class="card border-0 p-4 mb-5">
      <div class="d-flex justify-content-between align-items-center stepper">
        <div class="step active">
          <div class="circle"><img src="/assets/images/quote-step-1.png" alt="" /></div>
          <p>{{ 'GET_HOME_QUOTE.STEPPER.STEP1.TITLE' | translate }}</p>
        </div>
        <div class="step">
          <div class="circle"><img src="/assets/images/quote-step-2.png" alt="" /></div>
          <p>{{ 'GET_HOME_QUOTE.STEPPER.STEP2.TITLE' | translate }}</p>
        </div>
        <div class="step">
          <div class="circle"><img src="/assets/images/quote-step-3.png" alt="" /></div>
          <p>{{ 'GET_HOME_QUOTE.STEPPER.STEP3.TITLE' | translate }}</p>
        </div>
        <div class="step">
          <div class="circle"><img src="/assets/images/quote-step-4.png" alt="" /></div>
          <p>{{ 'GET_HOME_QUOTE.STEPPER.STEP4.TITLE' | translate }}</p>
        </div>
        <div class="step">
          <div class="circle"><img src="/assets/images/quote-step-5.png" alt="" /></div>
          <p>{{ 'GET_HOME_QUOTE.STEPPER.STEP5.TITLE' | translate }}</p>
        </div>
      </div>
    </div>

    <div class="steps-for-custom-quote">
      <div class="container">
        <div class="form-wrapper">
          <h2 class="form-title">{{ 'GET_HOME_QUOTE.STEPPER.STEP1.TITLE' | translate }}</h2>

          <div class="form-content-border">
            <form>
              <div class="row gy-3 mb-2">
                <div class="col-md-8">
                  <label class="form-label">{{ 'GET_HOME_QUOTE.STEPPER.STEP1.FIELDS.PROPERTY_ADDRESS' | translate
                    }}<span>*</span></label>
                  <input type="text" class="form-control" placeholder="John Doe" />
                </div>
              </div>

              <div class="row gy-3 mt-2">
                <div class="selection-group">
                  <h4 class="selection-heading">{{ 'GET_HOME_QUOTE.STEPPER.STEP1.FIELDS.PRIMARY_RESIDENCE' | translate
                    }}</h4>

                  <div class="coverage-options">
                    <div class="form-check"
                      *ngFor="let option of ('GET_HOME_QUOTE.STEPPER.STEP1.FIELDS.PRIMARY_RESIDENCE_OPTIONS' | translate)">
                      <input class="form-check-input" type="checkbox" [id]="option" />

                      <label class="form-check-label" [for]="option">
                        {{ option }}
                      </label>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row gy-3 mb-3 mt-2">
                <div class="col-md-8">
                  <label class="form-label">{{ 'GET_HOME_QUOTE.STEPPER.STEP1.FIELDS.PROPERTY_TYPE' | translate
                    }}<span>*</span></label>
                  <input type="text" class="form-control" placeholder="John Doe" />
                </div>
              </div>
              <div class="d-flex gap-3 mt-4">
                <button type="submit" class="btn btn-next">{{ 'GET_HOME_QUOTE.NEXT_BUTTON' | translate }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="container mt-4 mb-4">
        <div class="form-wrapper">
          <h2 class="form-title">{{ 'GET_HOME_QUOTE.STEPPER.STEP2.TITLE' | translate }}</h2>

          <div class="form-content-border">
            <form>
              <div class="row gy-3 mb-3">
                <div class="col-md-4">
                  <label class="form-label">{{ 'GET_HOME_QUOTE.STEPPER.STEP2.FIELDS.YEAR_BUILT' | translate
                    }}<span>*</span></label>
                  <input type="text" class="form-control" placeholder="2025" />
                </div>
                <div class="col-md-4">
                  <label class="form-label">{{ 'GET_HOME_QUOTE.STEPPER.STEP2.FIELDS.SQUARE_FOOTAGE' | translate
                    }}<span>*</span></label>
                  <input type="text" class="form-control" placeholder="BMW" />
                </div>

              </div>

              <div class="row gy-3">
                <div class="col-md-4">
                  <label class="form-label">{{ 'GET_HOME_QUOTE.STEPPER.STEP2.FIELDS.NUMBER_OF_STORIES' | translate
                    }}<span>*</span></label>
                  <input type="text" class="form-control" placeholder="Owned" />
                </div>
                <div class="col-md-4">
                  <label class="form-label">{{ 'GET_HOME_QUOTE.STEPPER.STEP2.FIELDS.ROOF_AGE' | translate
                    }}<span>*</span></label>
                  <input type="text" class="form-control" placeholder="Personal" />
                </div>
              </div>
                          <div class="d-flex gap-3 mt-4">
                <button type="button" class="btn btn-previous">{{ 'GET_HOME_QUOTE.PREVIOUS_BUTTON' | translate
                  }}</button>
                <button type="submit" class="btn btn-next">{{ 'GET_HOME_QUOTE.NEXT_BUTTON' | translate }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="container mt-4 mb-4">
        <div class="form-wrapper">
          <h2 class="form-title">{{ 'GET_HOME_QUOTE.STEPPER.STEP3.TITLE' | translate }}</h2>

          <div class="form-content-border">
            <form>
              <div class="selection-group">
                <h4 class="selection-heading">{{ 'GET_HOME_QUOTE.STEPPER.STEP3.FIELDS.MONITORED_ALARM' | translate }}
                </h4>

                <div class="coverage-options">
                  <div class="form-check"
                    *ngFor="let option of ('GET_HOME_QUOTE.STEPPER.STEP3.FIELDS.MONITORED_ALARM_OPTIONS' | translate)">
                    <input class="form-check-input" type="checkbox" [id]="option" />

                    <label class="form-check-label" [for]="option">
                      {{ option }}
                    </label>
                  </div>
                </div>
              </div>

              <div class="selection-group mt-4">
                <h4 class="selection-heading">{{ 'GET_HOME_QUOTE.STEPPER.STEP3.FIELDS.SWIMMING_POOL' | translate }}</h4>

                <div class="coverage-options">
                  <div class="form-check"
                    *ngFor="let option of ('GET_HOME_QUOTE.STEPPER.STEP3.FIELDS.SWIMMING_POOL_OPTIONS' | translate)">
                    <input class="form-check-input" type="checkbox" [id]="option" />

                    <label class="form-check-label" [for]="option">
                      {{ option }}
                    </label>
                  </div>
                </div>
              </div>

              <div class="selection-group mt-4">
                <h4 class="selection-heading">{{ 'GET_HOME_QUOTE.STEPPER.STEP3.FIELDS.PETS' | translate }}</h4>

                <div class="coverage-options">
                  <div class="form-check"
                    *ngFor="let option of ('GET_HOME_QUOTE.STEPPER.STEP3.FIELDS.PETS_OPTIONS' | translate)">
                    <input class="form-check-input" type="checkbox" [id]="option" />

                    <label class="form-check-label" [for]="option">
                      {{ option }}
                    </label>
                  </div>
                </div>
              </div>



               <div class="d-flex gap-3 mt-4">
                <button type="button" class="btn btn-previous">{{ 'GET_HOME_QUOTE.PREVIOUS_BUTTON' | translate
                  }}</button>
                <button type="submit" class="btn btn-next">{{ 'GET_HOME_QUOTE.NEXT_BUTTON' | translate }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="container mb-4">
        <div class="form-wrapper">
          <h2 class="form-title">{{ 'GET_HOME_QUOTE.STEPPER.STEP4.TITLE' | translate }}</h2>

          <div class="form-content-border">
            <form>
              <div class="row gy-3 mb-2">
                <div class="col-md-8">
                  <label class="form-label">{{ 'GET_HOME_QUOTE.STEPPER.STEP4.INSURED_TITLE' | translate
                    }}<span>*</span></label>
                  <input type="text" class="form-control" placeholder="John Doe" />
                </div>
              </div>

              <div class="row gy-3 mt-2">
                <div class="selection-group">
                  <h4 class="selection-heading">{{ 'GET_HOME_QUOTE.STEPPER.STEP4.BUNDLE_TITLE' | translate }}</h4>

                  <div class="coverage-options">
                    <div class="form-check"
                      *ngFor="let option of ('GET_HOME_QUOTE.STEPPER.STEP4.BUNDLE_OPTIONS' | translate)">
                      <input class="form-check-input" type="checkbox" [id]="option" />

                      <label class="form-check-label" [for]="option">
                        {{ option }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
               <div class="d-flex gap-3 mt-4">
                <button type="button" class="btn btn-previous">{{ 'GET_HOME_QUOTE.PREVIOUS_BUTTON' | translate
                  }}</button>
                <button type="submit" class="btn btn-next">{{ 'GET_HOME_QUOTE.NEXT_BUTTON' | translate }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>



      <div class="container mt-4 mb-4">
        <div class="form-wrapper">
          <h2 class="form-title">{{ 'GET_HOME_QUOTE.STEPPER.STEP5.TITLE' | translate }}</h2>

          <div class="form-content-border">
            <form>
              <div class="row gy-3 mb-3">
                <div class="col-md-4">
                  <label class="form-label">{{ 'GET_HOME_QUOTE.STEPPER.STEP5.FIELDS.FULL_NAME' | translate
                    }}<span>*</span></label>
                  <input type="text" class="form-control" placeholder="John Doe" />
                </div>
                <div class="col-md-4">
                  <label class="form-label">{{ 'GET_HOME_QUOTE.STEPPER.STEP5.FIELDS.PHONE' | translate
                    }}<span>*</span></label>
                  <input type="text" class="form-control" placeholder="BMW" />
                </div>

              </div>

              <div class="row gy-3 mb-4">
                <div class="col-md-4">
                  <label class="form-label">{{ 'GET_HOME_QUOTE.STEPPER.STEP5.FIELDS.EMAIL' | translate
                    }}<span>*</span></label>
                  <input type="text" class="form-control" placeholder="Owned" />
                </div>
                <div class="col-md-4">
                  <label class="form-label">{{ 'GET_HOME_QUOTE.STEPPER.STEP5.LANGUAGE_TITLE' | translate
                    }}<span>*</span></label>
                  <input type="text" class="form-control" placeholder="Personal" />
                </div>
              </div>


              <div class="selection-group">
                <h4 class="selection-heading">{{ 'GET_HOME_QUOTE.STEPPER.STEP5.CONTACT_TITLE' | translate }}</h4>

                <div class="coverage-options">
                  <div class="form-check"
                    *ngFor="let option of ('GET_HOME_QUOTE.STEPPER.STEP5.CONTACT_OPTIONS' | translate)">
                    <input class="form-check-input" type="checkbox" [id]="option" />

                    <label class="form-check-label" [for]="option">
                      {{ option }}
                    </label>
                  </div>
                </div>
              </div>

              <div class="selection-group mt-4">
                <h4 class="selection-heading">{{ 'GET_HOME_QUOTE.STEPPER.STEP5.TIME_TITLE' | translate }}</h4>

                <div class="coverage-options">
                  <div class="form-check"
                    *ngFor="let option of ('GET_HOME_QUOTE.STEPPER.STEP5.TIME_OPTIONS' | translate)">
                    <input class="form-check-input" type="checkbox" [id]="option" />

                    <label class="form-check-label" [for]="option">
                      {{ option }}
                    </label>
                  </div>
                </div>
              </div>

              <div class="d-flex gap-3 mt-4">
                <button type="button" class="btn btn-previous">{{ 'GET_HOME_QUOTE.PREVIOUS_BUTTON' | translate
                  }}</button>
                <button type="submit" class="btn btn-next">{{ 'GET_HOME_QUOTE.NEXT_BUTTON' | translate }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>



    </div>

    <div class="quote-summary-container p-4 p-md-5 mt-5">
      <div class="container max-width-700">
        <h2 class="text-center mb-4 section-title">{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.MAIN_TITLE' | translate }}</h2>
        <p class="text-center mb-4">{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.MAIN_DESC' | translate }}</p>

        <h2 class="text-center mb-4 section-title">{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.TITLE' | translate }}</h2>

        <div class="summary-card mb-4">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="m-0">{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD1.TITLE' | translate }}</h5>
            <a href="#" class="edit-link"><i class="bi bi-pencil-square"></i> {{
              'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD1.EDIT' | translate }}</a>
          </div>
          <ul class="list-unstyled mb-0">
            <li><strong>{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD1.FIELDS.ADDRESS' | translate }}</strong>: Juan Rodriguez
            </li>
            <li><strong>{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD1.FIELDS.RESIDENCE_TYPE' | translate }}</strong>: 75287
            </li>
            <li><strong>{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD1.FIELDS.PROPERTY_TYPE' | translate }}</strong>:
              j.rodriguez@email.com</li>
          </ul>
        </div>

        <div class="summary-card mb-4">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="m-0">{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD2.TITLE' | translate }}</h5>
            <a href="#" class="edit-link"><i class="bi bi-pencil-square"></i> {{
              'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD2.EDIT' | translate }}</a>
          </div>
          <ul class="list-unstyled mb-0">
            <li><strong>{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD2.FIELDS.YEAR_BUILT' | translate }}</strong>: 2022 Toyota
              Camry (Financed, Personal Use)</li>
            <li>
              <strong>{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD2.FIELDS.SQUARE_FOOTAGE' | translate }}</strong>: 2019 Ford
              F-150
              (Owned, Personal Use)
            </li>

            <li>
              <strong>{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD2.FIELDS.STORIES' | translate }}</strong>: 2019 Ford F-150
              (Owned, Personal Use)
            </li>

            <li>
              <strong>{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD2.FIELDS.ROOF_AGE' | translate }}</strong>: 2019 Ford F-150
              (Owned, Personal Use)
            </li>
          </ul>
        </div>

        <div class="summary-card mb-4">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="m-0">{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD3.TITLE' | translate }}</h5>
            <a href="#" class="edit-link"><i class="bi bi-pencil-square"></i> {{
              'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD3.EDIT' | translate }}</a>
          </div>
          <ul class="list-unstyled mb-0">
            <li><strong>{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD3.FIELDS.ALARM' | translate }}</strong>: Yes</li>
            <li><strong>{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD3.FIELDS.POOL' | translate }}</strong>: No
            </li>
            <li><strong>{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD3.FIELDS.PETS' | translate }}</strong>: No
            </li>
          </ul>
        </div>

        <div class="summary-card mb-4">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="m-0">{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD4.TITLE' | translate }}</h5>
            <a href="#" class="edit-link"><i class="bi bi-pencil-square"></i> {{
              'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD4.EDIT' | translate }}</a>
          </div>
          <ul class="list-unstyled mb-0">
            <li><strong>{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD4.FIELDS.INSURED' | translate }}</strong>: Yes</li>
            <li><strong>{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD4.FIELDS.BUNDLE' | translate }}</strong>: NO</li>
          </ul>
        </div>

        <div class="summary-card mb-4">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="m-0">{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD5.TITLE' | translate }}</h5>
            <a href="#" class="edit-link"><i class="bi bi-pencil-square"></i> {{
              'GET_AUTO_QUOTE.QUOTE_SUMMARY.CARD5.EDIT' | translate }}</a>
          </div>
          <ul class="list-unstyled mb-0">
            <li><strong>{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD5.FIELDS.NAME' | translate }}</strong>: English</li>
            <li><strong>{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD5.FIELDS.EMAIL' | translate }}</strong>: English</li>
            <li><strong>{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD5.FIELDS.PHONE' | translate }}</strong>: English</li>
            <li><strong>{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD5.FIELDS.LANGUAGE' | translate }}</strong>: Text Message</li>
            <li><strong>{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD5.FIELDS.CONTACT_METHOD' | translate }}</strong>: Afternoon (12 PM - 5 PM)</li>
            <li><strong>{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.CARD5.FIELDS.BEST_TIME' | translate }}</strong>: Afternoon (12 PM - 5 PM)</li>
          </ul>
        </div>

        <!-- Form Footer -->
        <div class="mt-4">
          <div class="form-check mb-4">
            <input class="form-check-input terms-check" type="checkbox" id="termsCheck" />
            <label class="form-check-label terms-check-label small" for="termsCheck">
              {{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.DESC' | translate }}
            </label>
          </div>
          <button class="btn btn-submit">{{ 'GET_HOME_QUOTE.QUOTE_SUMMARY.SUBMIT_BUTTON' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- footuper -->
  <div class="footUpper">
    <div class="left"></div>
    <div class="right"></div>
    <div class="clipp"></div>
    <div class="contain">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="icon">
              <img src="/assets/images/logo.png" alt="User menu" />
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="h4">{{ 'FOOTER.SLOGAN' | translate }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>